.modal-hotels {
  &__content {
    width: 90vw;
    height: 80vh;
  }

  &__map {
    width: 100%;
    height: 100%;
  }

  &__content {
    padding: 3.5rem;

    @include breakpoint(mobile) {
      padding: 2.2rem;
    }
  }
}