.modal-hotels {
  &__content {
    width: 80vw;
    height: 0;
    padding-bottom: 40vw;

    @include breakpoint(tablet) {
      width: calc(100% - var(--content-padding-left) - var(--content-padding-right));
    }
  }

  &__map {
    position: absolute;
    top: 4rem;
    left: 4rem;

    width: calc(100% - 8rem);
    height: calc(100% - 8rem);
  }
}