.slider {

  &__scroll {
    margin-top: 6rem;
    margin-bottom: 8rem;

    @include breakpoint(tablet) {
      margin-top: 4rem;
      margin-bottom: 6rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 4rem;
    }

    &.noUi-target {
      width: 100%;
      height: 0.2rem;
  
      background-color: #94A9D0;
      box-shadow: none;
      border: none;
    }
  
    .noUi-handle {
      top: -2.25rem;
      right: -2.2rem;
  
      width: 4.5rem;
      height: 4.5rem;
  
      border-radius: 50%;
      background-color: #C82030;
      border: none;
      box-shadow: none;
  
      cursor: pointer;
      
      transition: background-color 0.3s ease;
  
      &:hover,
      &:focus {
        background-color: var(--accent-color);
      }
  
      &::before,
      &::after {
        content: none;
      }
  
      @include breakpoint(tablet) {
        top: -1.75rem;
        right: -1.7rem;
  
        width: 3.5rem;
        height: 3.5rem;
  
        background-size: 1.2rem 2rem;
      }
      @include breakpoint(mobile) {
        top: -1.25rem;
        right: -1.2rem;
  
        width: 2.5rem;
        height: 2.5rem;
  
        background-size: 1rem 1.8rem;
      }
    }
  
    .noUi-touch-area {
      display: flex;
      align-items: center;
      justify-content: center;
  
      svg {
        transform: scale(1);
  
        @include breakpoint(tablet) {
          transform: scale(0.8);
        }
        @include breakpoint(mobile) {
          transform: scale(0.6);
        }
      }
  
      #arr-bottom,
      #arr-top {
        transition: transform 0.3s ease;
      }
  
      #arr-top {
        &:hover {
          transform: scale(1.02) translateY(-1px);
        }
      }
  
      #arr-bottom {
        &:hover {
          transform: scale(1.02) translateY(1px);
        }
      }
    }
  }

  &__slide {
  }

  &__wrapper {
    
  }
}