@font-face {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(./Nekst/Nekst-Medium.woff2) format('woff2'),
       url(./Nekst/Nekst-Medium.woff) format('woff'),
       url(./Nekst/Nekst-Medium.ttf) format('truetype'),
       url(./Nekst/Nekst-Medium.eot) format('eot');
}

@font-face {
  font-family: 'Nekst';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./Nekst/Nekst-SemiBold.woff2) format('woff2'),
       url(./Nekst/Nekst-SemiBold.woff) format('woff'),
       url(./Nekst/Nekst-SemiBold.ttf) format('truetype'),
       url(./Nekst/Nekst-SemiBold.eot) format('eot');
}