<section class="about-past" id="about-past">
  <div class="container">
    <h2 class="section-title about-past__title">Участники о прошлом «Движении»</h2>

    <div class="about-past__slider">
      <div class="swiper-container about-past__slider-container">
        <ul class="swiper-wrapper about-past-slider-wrapper">
          <li class="swiper-slide about-past__item">
            <div class="about-past__slide-item">
              <div class="about-past__slide-head about-past__slide-content">
                <svg aria-hidden="true"
                    class="about-past__slide-head-mark about-past__slide-head-mark--style-1">
                  <use xlink:href="#mark"></use>
                </svg>
                <div>
                  <h3 class="about-past__slide-title">На форум «Движение» мы приехали с командой 7 человек. Каждый вечер после мероприятия</h3>
                  <button class="about-past__bnt-read-completely">
                    Читать отзыв полностью
                  </button>
                </div>
              </div>
              <div class="about-past__slide-content">
                <img src="img/content/blockquote/post-1.jpg" alt="" class="about-past__slide-content-img">
                <div>
                  <span class="about-past__slide-content-title">Светлана Шевлик</span>
                  <span class="about-past__slide-content-subtitle">генеральный директор ГК «А100-Девелопмент»</span>
                </div>
              </div>
            </div>

            <div class="about-past__slide-full">
              <div class="about-past__slide-overlay"></div>
              <div class="about-past__slide-full-content">
                <button class="about-past__slide-full-close" type="button" title="Закрыть">
                  <svg class="about-past__slide-full-close-icon">
                    <use xlink:href="#cross">
                  </svg>
                </button>
                <div class="about-past__slide-head about-past__slide-content">
                  <svg aria-hidden="true"
                      class="about-past__slide-head-mark about-past__slide-head-mark--style-1">
                    <use xlink:href="#mark"></use>
                  </svg>
                  <div class="about-past__slide-description">
                    <p class="about-past__slide-description-text">На форум «Движение» мы приехали с командой 7 человек. Каждый вечер после мероприятия мы обсуждаем, что услышали, что увидели и какие новые идеи возникли. Самое частое, что я слышу при обсуждении: «Светлана, как это круто и как здорово, что есть вот такая площадка». И я вижу то вдохновение, которым наполнены сотрудники.</p>
                  </div>
                </div>
                <div class="about-past__slide-content">
                  <img src="img/content/blockquote/post-1.jpg" alt="" class="about-past__slide-content-img">
                  <div>
                    <span class="about-past__slide-content-title">Светлана Шевлик</span>
                    <span class="about-past__slide-content-subtitle">генеральный директор ГК «А100-Девелопмент»</span>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="swiper-slide about-past__item">
            <div class="about-past__slide-item">
              <div class="about-past__slide-head about-past__slide-content">
                <svg aria-hidden="true"
                    class="about-past__slide-head-mark about-past__slide-head-mark--style-2">
                  <use xlink:href="#mark"></use>
                </svg>
                <div>
                  <h3 class="about-past__slide-title">«Движение» объединяет девелоперов: когда большое количество</h3>
                  <button class="about-past__bnt-read-completely">
                    Читать отзыв полностью
                  </button>
                </div>
              </div>
              <div class="about-past__slide-content">
                <img src="img/content/blockquote/post-2.jpg" alt="" class="about-past__slide-content-img">
                <div>
                  <span class="about-past__slide-content-title">Игорь Сагирян</span>
                  <span class="about-past__slide-content-subtitle">президент ГК «РКС Девелопмент»</span>
                </div>
              </div>
            </div>

            <div class="about-past__slide-full">
              <div class="about-past__slide-overlay"></div>
              <div class="about-past__slide-full-content">
                <button class="about-past__slide-full-close" type="button" title="Закрыть">
                  <svg class="about-past__slide-full-close-icon">
                    <use xlink:href="#cross">
                  </svg>
                </button>
                <div class="about-past__slide-head about-past__slide-content">
                  <svg aria-hidden="true"
                      class="about-past__slide-head-mark about-past__slide-head-mark--style-2">
                    <use xlink:href="#mark"></use>
                  </svg>
                  <div class="about-past__slide-description">
                    <p class="about-past__slide-description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quibusdam facilis consectetur voluptatum ipsa at, eos qui sed quae quam perspiciatis tenetur quod repellendus dolore ad ratione assumenda et nihil. Sed, placeat atque nobis laudantium aliquid deserunt illo optio accusamus earum repellat ut ex rerum, ea asperiores voluptas rem voluptate? Error saepe maxime facilis laboriosam laborum ad maiores mollitia? Natus nisi repellendus alias, dolorem harum architecto commodi molestiae aspernatur perspiciatis odio nulla quaerat placeat tempora, magni enim vel ratione, asperiores esse officiis. Unde maiores necessitatibus consequuntur ea impedit delectus quisquam fuga ullam culpa debitis tempore asperiores dolores, at mollitia cupiditate repellat dolorum porro eius, odio non tempora iusto expedita maxime! Modi, quaerat est. Perspiciatis quas incidunt iusto excepturi illum animi accusamus, mollitia natus officia veniam tenetur recusandae sapiente quae dolor eos ad. Ducimus animi sapiente dolorem laborum sit voluptas, qui perspiciatis quas eum illum tempore accusamus aspernatur, enim provident? Deserunt voluptatem sed eaque sint consequatur sequi, cum sunt optio, quidem, rerum exercitationem repudiandae. Cumque est fugit debitis ut vitae beatae eaque, in laborum voluptatibus consequatur sit accusamus quisquam mollitia adipisci ducimus alias corporis similique praesentium repellendus porro nihil enim accusantium minima eum. Nam iusto reprehenderit nihil repellendus dolorum facere consequuntur quod incidunt provident cumque accusamus earum architecto, sit ipsam sint voluptatem doloremque. Eveniet labore commodi neque ut qui, sed eligendi fugiat temporibus asperiores ipsam ad laudantium, aliquid rem voluptas animi. Illum delectus architecto veritatis quasi laborum fuga sunt, eveniet voluptates explicabo iste laboriosam, aperiam nemo perspiciatis repellendus ducimus minima libero blanditiis maxime? Assumenda id eos itaque sit, aut dolores, molestiae libero cupiditate nihil beatae, omnis delectus! Labore libero quasi iste numquam inventore similique quaerat alias unde vel eum iure sint tempora, tenetur placeat culpa expedita? Facere molestiae odit hic voluptatibus neque, quia numquam voluptatum atque facilis. Aut in magni neque!</p>
                  </div>
                </div>
                <div class="about-past__slide-content">
                  <img src="img/content/blockquote/post-2.jpg" alt="" class="about-past__slide-content-img">
                  <div>
                    <span class="about-past__slide-content-title">Игорь Сагирян</span>
                    <span class="about-past__slide-content-subtitle">президент ГК «РКС Девелопмент»</span>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="swiper-slide about-past__item">
            <div class="about-past__slide-item">
              <div class="about-past__slide-head about-past__slide-content">
                <svg aria-hidden="true"
                    class="about-past__slide-head-mark about-past__slide-head-mark--style-3">
                  <use xlink:href="#mark"></use>
                </svg>
                <div>
                  <h3 class="about-past__slide-title">Хорошо организованный, профессиональный форум с интересными</h3>
                  <button class="about-past__bnt-read-completely">
                    Читать отзыв полностью
                  </button>
                </div>
              </div>
              <div class="about-past__slide-content">
                <img src="img/content/blockquote/post-3.jpg" alt="" class="about-past__slide-content-img">
                <div>
                  <span class="about-past__slide-content-title">Леонид Казинец</span>
                  <span class="about-past__slide-content-subtitle">президент корпорации «Баркли»</span>
                </div>
              </div>
            </div>

            <div class="about-past__slide-full">
              <div class="about-past__slide-overlay"></div>
              <div class="about-past__slide-full-content">
                <button class="about-past__slide-full-close" type="button" title="Закрыть">
                  <svg class="about-past__slide-full-close-icon">
                    <use xlink:href="#cross">
                  </svg>
                </button>
                <div class="about-past__slide-head about-past__slide-content">
                  <svg aria-hidden="true"
                      class="about-past__slide-head-mark about-past__slide-head-mark--style-3">
                    <use xlink:href="#mark"></use>
                  </svg>
                  <div class="about-past__slide-description">
                    <p class="about-past__slide-description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quibusdam facilis consectetur voluptatum ipsa at, eos qui sed quae quam perspiciatis tenetur quod repellendus dolore ad ratione assumenda et nihil. Sed, placeat atque nobis laudantium aliquid deserunt illo optio accusamus earum repellat ut ex rerum, ea asperiores voluptas rem voluptate? Error saepe maxime facilis laboriosam laborum ad maiores mollitia? Natus nisi repellendus alias, dolorem harum architecto commodi molestiae aspernatur perspiciatis odio nulla quaerat placeat tempora, magni enim vel ratione, asperiores esse officiis. Unde maiores necessitatibus consequuntur ea impedit delectus quisquam fuga ullam culpa debitis tempore asperiores dolores, at mollitia cupiditate repellat dolorum porro eius, odio non tempora iusto expedita maxime! Modi, quaerat est. Perspiciatis quas incidunt iusto excepturi illum animi accusamus, mollitia natus officia veniam tenetur recusandae sapiente quae dolor eos ad. Ducimus animi sapiente dolorem laborum sit voluptas, qui perspiciatis quas eum illum tempore accusamus aspernatur, enim provident? Deserunt voluptatem sed eaque sint consequatur sequi, cum sunt optio, quidem, rerum exercitationem repudiandae. Cumque est fugit debitis ut vitae beatae eaque, in laborum voluptatibus consequatur sit accusamus quisquam mollitia adipisci ducimus alias corporis similique praesentium repellendus porro nihil enim accusantium minima eum. Nam iusto reprehenderit nihil repellendus dolorum facere consequuntur quod incidunt provident cumque accusamus earum architecto, sit ipsam sint voluptatem doloremque. Eveniet labore commodi neque ut qui, sed eligendi fugiat temporibus asperiores ipsam ad laudantium, aliquid rem voluptas animi. Illum delectus architecto veritatis quasi laborum fuga sunt, eveniet voluptates explicabo iste laboriosam, aperiam nemo perspiciatis repellendus ducimus minima libero blanditiis maxime? Assumenda id eos itaque sit, aut dolores, molestiae libero cupiditate nihil beatae, omnis delectus! Labore libero quasi iste numquam inventore similique quaerat alias unde vel eum iure sint tempora, tenetur placeat culpa expedita? Facere molestiae odit hic voluptatibus neque, quia numquam voluptatum atque facilis. Aut in magni neque!</p>
                  </div>
                </div>
                <div class="about-past__slide-content">
                  <img src="img/content/blockquote/post-3.jpg" alt="" class="about-past__slide-content-img">
                  <div>
                    <span class="about-past__slide-content-title">Леонид Казинец</span>
                    <span class="about-past__slide-content-subtitle">президент корпорации «Баркли»</span>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="swiper-slide about-past__item">
            <div class="about-past__slide-item">
              <div class="about-past__slide-head about-past__slide-content">
                <svg aria-hidden="true"
                    class="about-past__slide-head-mark about-past__slide-head-mark--style-1">
                  <use xlink:href="#mark"></use>
                </svg>
                <div>
                  <h3 class="about-past__slide-title">На форум «Движение» мы приехали с командой 7 человек. Каждый вечер после мероприятия</h3>
                  <button class="about-past__bnt-read-completely">
                    Читать отзыв полностью
                  </button>
                </div>
              </div>
              <div class="about-past__slide-content">
                <img src="img/content/blockquote/post-1.jpg" alt="" class="about-past__slide-content-img">
                <div>
                  <span class="about-past__slide-content-title">Светлана Шевлик</span>
                  <span class="about-past__slide-content-subtitle">генеральный директор ГК «А100-Девелопмент»</span>
                </div>
              </div>
            </div>

            <div class="about-past__slide-full">
              <div class="about-past__slide-overlay"></div>
              <div class="about-past__slide-full-content">
                <button class="about-past__slide-full-close" type="button" title="Закрыть">
                  <svg class="about-past__slide-full-close-icon">
                    <use xlink:href="#cross">
                  </svg>
                </button>
                <div class="about-past__slide-head about-past__slide-content">
                  <svg aria-hidden="true"
                      class="about-past__slide-head-mark about-past__slide-head-mark--style-1">
                    <use xlink:href="#mark"></use>
                  </svg>
                  <div class="about-past__slide-description">
                    <p class="about-past__slide-description-text">На форум «Движение» мы приехали с командой 7 человек. Каждый вечер после мероприятия мы обсуждаем, что услышали, что увидели и какие новые идеи возникли. Самое частое, что я слышу при обсуждении: «Светлана, как это круто и как здорово, что есть вот такая площадка». И я вижу то вдохновение, которым наполнены сотрудники.</p>
                  </div>
                </div>
                <div class="about-past__slide-content">
                  <img src="img/content/blockquote/post-1.jpg" alt="" class="about-past__slide-content-img">
                  <div>
                    <span class="about-past__slide-content-title">Светлана Шевлик</span>
                    <span class="about-past__slide-content-subtitle">генеральный директор ГК «А100-Девелопмент»</span>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="swiper-slide about-past__item">
            <div class="about-past__slide-item">
              <div class="about-past__slide-head about-past__slide-content">
                <svg aria-hidden="true"
                    class="about-past__slide-head-mark about-past__slide-head-mark--style-2">
                  <use xlink:href="#mark"></use>
                </svg>
                <div>
                  <h3 class="about-past__slide-title">«Движение» объединяет девелоперов: когда большое количество</h3>
                  <button class="about-past__bnt-read-completely">
                    Читать отзыв полностью
                  </button>
                </div>
              </div>
              <div class="about-past__slide-content">
                <img src="img/content/blockquote/post-2.jpg" alt="" class="about-past__slide-content-img">
                <div>
                  <span class="about-past__slide-content-title">Игорь Сагирян</span>
                  <span class="about-past__slide-content-subtitle">президент ГК «РКС Девелопмент»</span>
                </div>
              </div>
            </div>

            <div class="about-past__slide-full">
              <div class="about-past__slide-overlay"></div>
              <div class="about-past__slide-full-content">
                <button class="about-past__slide-full-close" type="button" title="Закрыть">
                  <svg class="about-past__slide-full-close-icon">
                    <use xlink:href="#cross">
                  </svg>
                </button>
                <div class="about-past__slide-head about-past__slide-content">
                  <svg aria-hidden="true"
                      class="about-past__slide-head-mark about-past__slide-head-mark--style-2">
                    <use xlink:href="#mark"></use>
                  </svg>
                  <div class="about-past__slide-description">
                    <p class="about-past__slide-description-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quibusdam facilis consectetur voluptatum ipsa at, eos qui sed quae quam perspiciatis tenetur quod repellendus dolore ad ratione assumenda et nihil. Sed, placeat atque nobis laudantium aliquid deserunt illo optio accusamus earum repellat ut ex rerum, ea asperiores voluptas rem voluptate? Error saepe maxime facilis laboriosam laborum ad maiores mollitia? Natus nisi repellendus alias, dolorem harum architecto commodi molestiae aspernatur perspiciatis odio nulla quaerat placeat tempora, magni enim vel ratione, asperiores esse officiis. Unde maiores necessitatibus consequuntur ea impedit delectus quisquam fuga ullam culpa debitis tempore asperiores dolores, at mollitia cupiditate repellat dolorum porro eius, odio non tempora iusto expedita maxime! Modi, quaerat est. Perspiciatis quas incidunt iusto excepturi illum animi accusamus, mollitia natus officia veniam tenetur recusandae sapiente quae dolor eos ad. Ducimus animi sapiente dolorem laborum sit voluptas, qui perspiciatis quas eum illum tempore accusamus aspernatur, enim provident? Deserunt voluptatem sed eaque sint consequatur sequi, cum sunt optio, quidem, rerum exercitationem repudiandae. Cumque est fugit debitis ut vitae beatae eaque, in laborum voluptatibus consequatur sit accusamus quisquam mollitia adipisci ducimus alias corporis similique praesentium repellendus porro nihil enim accusantium minima eum. Nam iusto reprehenderit nihil repellendus dolorum facere consequuntur quod incidunt provident cumque accusamus earum architecto, sit ipsam sint voluptatem doloremque. Eveniet labore commodi neque ut qui, sed eligendi fugiat temporibus asperiores ipsam ad laudantium, aliquid rem voluptas animi. Illum delectus architecto veritatis quasi laborum fuga sunt, eveniet voluptates explicabo iste laboriosam, aperiam nemo perspiciatis repellendus ducimus minima libero blanditiis maxime? Assumenda id eos itaque sit, aut dolores, molestiae libero cupiditate nihil beatae, omnis delectus! Labore libero quasi iste numquam inventore similique quaerat alias unde vel eum iure sint tempora, tenetur placeat culpa expedita? Facere molestiae odit hic voluptatibus neque, quia numquam voluptatum atque facilis. Aut in magni neque!</p>
                  </div>
                </div>
                <div class="about-past__slide-content">
                  <img src="img/content/blockquote/post-2.jpg" alt="" class="about-past__slide-content-img">
                  <div>
                    <span class="about-past__slide-content-title">Игорь Сагирян</span>
                    <span class="about-past__slide-content-subtitle">президент ГК «РКС Девелопмент»</span>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li class="swiper-slide about-past__item">
            <div class="about-past__slide-item">
              <div class="about-past__slide-head about-past__slide-content">
                <svg aria-hidden="true"
                    class="about-past__slide-head-mark about-past__slide-head-mark--style-3">
                  <use xlink:href="#mark"></use>
                </svg>
                <div>
                  <h3 class="about-past__slide-title">Хорошо организованный, профессиональный форум с интересными</h3>
                  <button class="about-past__bnt-read-completely">
                    Читать отзыв полностью
                  </button>
                </div>
              </div>
              <div class="about-past__slide-content">
                <img src="img/content/blockquote/post-3.jpg" alt="" class="about-past__slide-content-img">
                <div>
                  <span class="about-past__slide-content-title">Леонид Казинец</span>
                  <span class="about-past__slide-content-subtitle">президент корпорации «Баркли»</span>
                </div>
              </div>
            </div>

            <div class="about-past__slide-full">
              <div class="about-past__slide-overlay"></div>
              <div class="about-past__slide-full-content">
                <button class="about-past__slide-full-close" type="button" title="Закрыть">
                  <svg class="about-past__slide-full-close-icon">
                    <use xlink:href="#cross">
                  </svg>
                </button>
                <div class="about-past__slide-head about-past__slide-content">
                  <svg aria-hidden="true"
                      class="about-past__slide-head-mark about-past__slide-head-mark--style-3">
                    <use xlink:href="#mark"></use>
                  </svg>
                  <div class="about-past__slide-description">
                    <p class="about-past__slide-description-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem quasi possimus in nobis, qui tenetur aspernatur? Quaerat repudiandae hic doloremque similique exercitationem ad, aliquid quas voluptate id recusandae rerum repellat, unde velit molestias fuga! Velit dolor ratione tenetur distinctio quaerat, perferendis quia eius dolorum possimus molestias assumenda. Eum beatae at enim, quia suscipit ipsam excepturi reprehenderit reiciendis commodi atque exercitationem corporis. Cumque aliquid ea provident placeat veritatis perferendis magni illo ut architecto illum iusto dignissimos, harum necessitatibus assumenda, voluptatem aperiam, dolores atque distinctio repellat exercitationem eius animi. Fuga, quam cumque repudiandae aliquid sapiente voluptatum ex itaque iste facere, repellendus similique.</p>
                    <p class="about-past__slide-description-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. A qui ullam provident quibusdam odit, similique cupiditate, commodi facilis molestiae sunt dicta ipsam temporibus! Quis ad repellendus accusamus sint autem mollitia, nesciunt, deserunt, illum aspernatur sapiente sunt architecto excepturi quos impedit.</p>
                  </div>
                </div>
                <div class="about-past__slide-content">
                  <img src="img/content/blockquote/post-3.jpg" alt="" class="about-past__slide-content-img">
                  <div>
                    <span class="about-past__slide-content-title">Леонид Казинец</span>
                    <span class="about-past__slide-content-subtitle">президент корпорации «Баркли»</span>
                  </div>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>

      <div class="about-past__btns-wrapper">
        <div class="about-past__btn-wrapper">
          <button class="about-past__btn swiper-button-prev about-past__btn--prev" title="Назад"></button>
        </div>
        <div class="about-past__btn-wrapper">
          <button class="about-past__btn swiper-button-next about-past__btn--next" title="Вперёд"></button>
        </div>
      </div>
    </div>
  </div>
</section>
