<section class="about-past" id="about-past">
  <div class="container">
    <h2 class="section-title about-past__title">С длинными ДОКЛАДАМИ ВЫСТУПЯТ СПИКЕРЫ</h2>

    <div class="about-past__slider">
      <div class="swiper-container about-past__slider-container">
        <ul class="swiper-wrapper about-past-slider-wrapper">
          <li class="swiper-slide about-past__slide-item">
            <div class="about-past__slide-head about-past__slide-content">
              <svg width="37" height="31" aria-hidden="true"
                   class="about-past__slide-head-mark about-past__slide-head-mark--style-1">
                <use xlink:href="#mark"></use>
              </svg>
              <div>
                <div class="about-past__slide-title">
                  На форум «Движение» мы приехали с командой 7 человек.
                </div>

                <div class="about-past__bnt-read-completely-wrapper">
                  <button class="about-past__bnt-read-completely">
                    Читать отзыв полностью
                  </button>
                </div>
              </div>
            </div>

            <div class="about-past__slide-content">
              <img src="img/content/about-past/slide-content-img.jpg" alt="" class="about-past__slide-content-img">
              <div>
                <div class="about-past__slide-content-title">
                  Светлана Шевлик
                </div>
                <div class="about-past__slide-content-subtitle">
                  генеральный директор ГК «А100-Девелопмент»
                </div>
              </div>
            </div>
          </li>
          <li class="swiper-slide about-past__slide-item">
            <div class="about-past__slide-head about-past__slide-content">
              <svg width="37" height="31" aria-hidden="true"
                   class="about-past__slide-head-mark about-past__slide-head-mark--style-2">
                <use xlink:href="#mark"></use>
              </svg>
              <div>
                <div class="about-past__slide-title">
                  На форум «Движение» мы приехали с командой 7 человек.
                  На форум «Движение» мы приехали с командой 7 человек.
                </div>

                <div class="about-past__bnt-read-completely-wrapper">
                  <button class="about-past__bnt-read-completely">
                    Читать отзыв полностью
                  </button>
                </div>
              </div>
            </div>

            <div class="about-past__slide-content">
              <img src="img/content/about-past/slide-content-img.jpg" alt="" class="about-past__slide-content-img">
              <div>
                <div class="about-past__slide-content-title">
                  Светлана Шевлик
                </div>
                <div class="about-past__slide-content-subtitle">
                  генеральный директор ГК «А100-Девелопмент»
                </div>
              </div>
            </div>
          </li>
          <li class="swiper-slide about-past__slide-item">
            <div class="about-past__slide-head about-past__slide-content">
              <svg width="37" height="31" aria-hidden="true"
                   class="about-past__slide-head-mark about-past__slide-head-mark--style-3">
                <use xlink:href="#mark"></use>
              </svg>
              <div>
                <div class="about-past__slide-title">
                  На форум «Движение» мы приехали с командой 7 человек.
                  На форум «Движение» мы приехали с командой 7 человек.
                  На форум «Движение» мы приехали с командой 7 человек.
                </div>

                <div class="about-past__bnt-read-completely-wrapper">
                  <button class="about-past__bnt-read-completely">
                    Читать отзыв полностью
                  </button>
                </div>
              </div>
            </div>

            <div class="about-past__slide-content">
              <img src="img/content/about-past/slide-content-img.jpg" alt="" class="about-past__slide-content-img">
              <div>
                <div class="about-past__slide-content-title">
                  Светлана Шевлик
                </div>
                <div class="about-past__slide-content-subtitle">
                  генеральный директор ГК «А100-Девелопмент»
                </div>
              </div>
            </div>
          </li>
          <li class="swiper-slide about-past__slide-item">
            <div class="about-past__slide-head about-past__slide-content">
              <svg width="37" height="31" aria-hidden="true"
                   class="about-past__slide-head-mark about-past__slide-head-mark--style-1">
                <use xlink:href="#mark"></use>
              </svg>
              <div>
                <div class="about-past__slide-title">
                  На форум «Движение» мы приехали с командой 7 человек.
                  На форум «Движение» мы приехали с командой 7 человек.
                  На форум «Движение» мы приехали с командой 7 человек.
                  На форум «Движение» мы приехали с командой 7 человек.
                </div>

                <div class="about-past__bnt-read-completely-wrapper">
                  <button class="about-past__bnt-read-completely">
                    Читать отзыв полностью
                  </button>
                </div>
              </div>
            </div>

            <div class="about-past__slide-content">
              <img src="img/content/about-past/slide-content-img.jpg" alt="" class="about-past__slide-content-img">
              <div>
                <div class="about-past__slide-content-title">
                  Светлана Шевлик
                </div>
                <div class="about-past__slide-content-subtitle">
                  генеральный директор ГК «А100-Девелопмент»
                </div>
              </div>
            </div>
          </li>
          <li class="swiper-slide about-past__slide-item">
            <div class="about-past__slide-head about-past__slide-content">
              <svg width="37" height="31" aria-hidden="true"
                   class="about-past__slide-head-mark about-past__slide-head-mark--style-2">
                <use xlink:href="#mark"></use>
              </svg>
              <div>
                <div class="about-past__slide-title">
                  На форум «Движение» мы приехали с командой 7 человек.
                </div>

                <div class="about-past__bnt-read-completely-wrapper">
                  <button class="about-past__bnt-read-completely">
                    Читать отзыв полностью
                  </button>
                </div>
              </div>
            </div>

            <div class="about-past__slide-content">
              <img src="img/content/about-past/slide-content-img.jpg" alt="" class="about-past__slide-content-img">
              <div>
                <div class="about-past__slide-content-title">
                  Светлана Шевлик
                </div>
                <div class="about-past__slide-content-subtitle">
                  генеральный директор ГК «А100-Девелопмент»
                </div>
              </div>
            </div>
          </li>
          <li class="swiper-slide about-past__slide-item">
            <div class="about-past__slide-head about-past__slide-content">
              <svg width="37" height="31" aria-hidden="true"
                   class="about-past__slide-head-mark about-past__slide-head-mark--style-3">
                <use xlink:href="#mark"></use>
              </svg>
              <div>
                <div class="about-past__slide-title">
                  На форум «Движение» мы приехали с командой 7 человек.
                </div>

                <div class="about-past__bnt-read-completely-wrapper">
                  <button class="about-past__bnt-read-completely">
                    Читать отзыв полностью
                  </button>
                </div>
              </div>
            </div>

            <div class="about-past__slide-content">
              <img src="img/content/about-past/slide-content-img.jpg" alt="" class="about-past__slide-content-img">
              <div>
                <div class="about-past__slide-content-title">
                  Светлана Шевлик
                </div>
                <div class="about-past__slide-content-subtitle">
                  генеральный директор ГК «А100-Девелопмент»
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>

      <div class="about-past__btns-wrapper">
        <div class="about-past__btn-wrapper">
          <button class="about-past__btn swiper-button-prev about-past__btn--prev"></button>
        </div>
        <div class="about-past__btn-wrapper">
          <button class="about-past__btn swiper-button-next about-past__btn--next"></button>
        </div>
      </div>
    </div>
  </div>
</section>
