<section class="about" id="about">
  
  <div class="about__rock">
    <img class="about__rock-circles-back js-animation" src="img/content/background/rock-circles-back.svg" alt="Фон">

    <picture>
      <source srcset="img/content/background/rock.webp" type="image/webp">
      <source srcset="img/content/background/rock.png" type="image/png">
      <img class="about__bg-iamge" src="img/content/background/rock.png" alt="Горы">
    </picture>

    <img class="about__rock-circles-front js-animation" src="img/content/background/rock-circles-front.svg" alt="Фон">
  </div>

  {{> slogan-marquee }}

  <div class="container">

    <div class="about__inner">
      <h2 class="section-title about__title js-animation">О форуме</h2>

      <div class="about__content">

        <div class="about__two-columns">
          <div class="about__album">
            {{> album }}
          </div>

          <div class="about__text">
            <div class="about__paragraphs">
              <p class="about__paragraph">«Движение» — это 3-дневное деловое мероприятие для застройщиков, на котором выступают лидеры отрасли: топ-менеджеры девелоперских компаний, архитекторы, банки, власть, сильнейшие бизнес-тренеры страны.</p>
            </div>

            <div class="about__digits">
              <h2 class="section-title js-animation">Итоги мероприятий<br>2020 и 2021</h2>

              <ul class="about__digits-list">
                <li class="about__digits-item">
                  <span class="about__digit">1700+</span>
                  <span class="about__digit-label">участников</span>
                </li>
                <li class="about__digits-item">
                  <span class="about__digit">135</span>
                  <span class="about__digit-label">спикеров</span>
                </li>
                <li class="about__digits-item">
                  <span class="about__digit">54</span>
                  <span class="about__digit-label">города</span>
                </li>
                <li class="about__digits-item">
                  <span class="about__digit">3</span>
                  <span class="about__digit-label">страны</span>
                </li>
                <li class="about__digits-item">
                  <span class="about__digit">300</span>
                  <span class="about__digit-label">компаний</span>
                </li>
                <li class="about__digits-item">
                  <span class="about__digit">85%</span>
                  <span class="about__digit-label">посещаемость мероприятий</span>
                </li>
              </ul>

              <div class="about__megaphone">
                <img class="about__megaphone-arr-top js-animation" src="img/content/background/megaphone-arr-top.svg" alt="About image">
                
                <img class="about__megaphone-image js-animation" src="img/content/background/megaphone.png" alt="About image">

                {{!-- <div class="about__marquee about__marquee--1 js-animation">
                  {{> marquee }}
                </div>

                <div class="about__marquee about__marquee--2 js-animation">
                  {{> marquee }}
                </div> --}}
                
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="about__from-intro">
        <div class="about__from-intro-title">
          <img class="about__from-intro-image" src="img/3d2.png" alt="3д">
          <h2 class="section-title js-animation">Форум <br> в&nbsp;новом объёме</h2>
        </div>
        
        <p class="about__from-intro-text">В&nbsp;2022 году &laquo;Движение&raquo; пройдёт в&nbsp;3-й раз. И,&nbsp;поскольку, у&nbsp;нас есть комбинация цифры&nbsp;3 и&nbsp;буквы&nbsp;Д, которые образуют&nbsp;3Д, мы&nbsp;подумали, что будет круто поговорить не&nbsp;о&nbsp;площадях, а&nbsp;о&nbsp;пространстве, и&nbsp;уйти в&nbsp;глубину. В&nbsp;секциях будем обсуждать среду в&nbsp;жилых комплексах, культуру проживания, атмосферу в&nbsp;компании и&nbsp;отделе продаж, управление командой и&nbsp;мотивацию сотрудников.</p>
      </div>

      <div class="about__footer">
        <div class="about__two-columns">
          <p class="about__footer-title js-animation">«Движение» пройдет одновременно с зимними Олимпийскими играми в Пекине </p>
          <p class="about__footer-subtitle js-animation">По древней традиции, на время Олимпиады прекращаются войны, а значит, и конкуренция на форуме остановится. И все девелоперы объединятся, чтобы стать лучше!</p>
        </div>
      </div>
    </div>
  </div>
</section>