<section class="about">
  <img class="about__bg-iamge" src="../../img/about-rock-bg.png" alt="Горы" loading="lazy">

  {{> sticky-header }}

  <div class="container">

    <div class="about__inner">
      <div class="about__header about__two-columns">
        <h2 class="section-title about__title">О форуме</h2>

        <p class="about__subtitle">«Движение» — это 3-х дневное деловое мероприятие для застройщиков, на котором выступают лидеры отрасли: топ-менеджеры девелоперских компаний, архитекторы, банки, власть, сильнейшие бизнес-тренеры страны</p>
      </div>

      <div class="about__content">
        <h2 class="about__second-title section-title">Пространство и глубина</h2>

        <div class="about__two-columns">
          <div class="about__album">
            {{> album }}
          </div>

          <div class="about__text">
            <div class="about__paragraphs">
              <p class="about__paragraph">В 2021 году мы говорили о том, как построить 120 млн м² жилья. В 2022 году поговорим не площади, а пространстве.</p>
              <p class="about__paragraph">Мы переходим от двухмерного измерения к трехмерному, от плоского — к объемному, от квадратных метров — к пространству и глубине. Поэтому в секциях будем обсуждать среду в жилых комплексах, культуру проживания, атмосферу в компании и отделе продаж, управление командой и мотивацию сотрудников девелоперских компаний.</p>
            </div>

            <div class="about__megaphone">
              <img class="about__megaphone-image" src="../../img/about-bg.png" alt="About image" loading="lazy">

              <div class="about__marquee">
                {{> marquee }}
              </div>

              <div class="about__marquee">
                {{> marquee }}
              </div>
              
            </div>
          </div>
        </div>
      </div>

      <div class="about__footer">
        <div class="about__two-columns">
          <p class="about__footer-title">«Движение» пройдет одновременно с зимними Олимпийскими играми в Пекине </p>
          <p class="about__footer-subtitle">По древней традиции, на время Олимпиады прекращаются войны, а значит, и конкуренция на форуме остановится. И все девелоперы объединятся, чтобы стать лучше!</p>
        </div>
      </div>
    </div>
  </div>
</section>