{{!-- Архив фото на About --}}
<div class="album">
  <div class="album-scroll">
    <div class="album-scroll__btn"></div>
    <span class="album-scroll__label">Архив фото</span>
  </div>

  <span class="album__year">2021</span>

  <div class="swiper album__slider" id="albumSwiper">
    <ul class="swiper-wrapper album__list">
      <li class="swiper-slide album__list-item">
        <div class="album__image-wrapper">
          <img class="album__image" src="img/content/album/album-1.jpg" alt="Архив фото" loading="lazy">
        </div>
      </li>

      <li class="swiper-slide album__list-item">
        <div class="album__image-wrapper">
          <img class="album__image" src="img/content/album/album-2.jpg" alt="Архив фото" loading="lazy">
        </div>
      </li>

      <li class="swiper-slide album__list-item">
        <div class="album__image-wrapper">
          <img class="album__image" src="img/content/album/album-3.jpg" alt="Архив фото" loading="lazy">
        </div>
      </li>

      <li class="swiper-slide album__list-item">
        <div class="album__image-wrapper">
          <img class="album__image" src="img/content/album/album-3.jpg" alt="Архив фото" loading="lazy">
        </div>
      </li>

      <li class="swiper-slide album__list-item">
        <div class="album__image-wrapper">
          <img class="album__image" src="img/content/album/album-3.jpg" alt="Архив фото" loading="lazy">
        </div>
      </li>
    </ul>
  </div>
</div>