{{!-- Архив фото на About --}}
<div class="album">
  <div class="album-scroll">
    <div class="album-scroll__btn"></div>
    <span class="album-scroll__label">Архив фото</span>
  </div>

  <span class="album__year">2021</span>

  <div class="swiper album__slider" id="albumSwiper">
    <ul class="swiper-wrapper album__list">
      <li class="swiper-slide album__list-item">
        <div class="album__image-wrapper">
          <picture>
            <source srcset="img/content/album/album-1.webp" type="image/webp">
            <source srcset="img/content/album/album-1.jpg" type="image/jpeg">
            <img class="album__image" src="img/content/album/album-1.jpg" alt="Архив фото">
          </picture>
        </div>
      </li>

      <li class="swiper-slide album__list-item">
        <div class="album__image-wrapper">
          <picture>
            <source srcset="img/content/album/album-2.webp" type="image/webp">
            <source srcset="img/content/album/album-2.jpg" type="image/jpeg">
            <img class="album__image" src="img/content/album/album-2.jpg" alt="Архив фото">
          </picture>
        </div>
      </li>

      <li class="swiper-slide album__list-item album__video" data-src="https://www.youtube.com/embed/RpKqEw_L3yc">
        <div class="album__image-wrapper">
          <picture>
            <source srcset="img/content/album/album-3.webp" type="image/webp">
            <source srcset="img/content/album/album-3.jpg" type="image/jpeg">
            <img class="album__image" src="img/content/album/album-3.jpg" alt="Архив фото">
          </picture>
          <div class="album__overlay"></div>
          <button class="album__open-btn" type="button" title="Видео">
            <svg class="album__open-btn-icon">
              <use xlink:href="#play">
            </svg>
          </button>
        </div>
      </li>

      <li class="swiper-slide album__list-item">
        <div class="album__image-wrapper">
          <picture>
            <source srcset="img/content/album/album-2.webp" type="image/webp">
            <source srcset="img/content/album/album-2.jpg" type="image/jpeg">
            <img class="album__image" src="img/content/album/album-2.jpg" alt="Архив фото">
          </picture>
        </div>
      </li>

      <li class="swiper-slide album__list-item">
        <div class="album__image-wrapper">
          <picture>
            <source srcset="img/content/album/album-2.webp" type="image/webp">
            <source srcset="img/content/album/album-2.jpg" type="image/jpeg">
            <img class="album__image" src="img/content/album/album-2.jpg" alt="Архив фото">
          </picture>
        </div>
      </li>
    </ul>
  </div>
</div>