<footer class="page-footer footer" id="footer">
    <picture>
        <source srcset="img/footer-bg.webp" type="image/webp" media="(min-width: 1025px)">
        <source srcset="img/footer-bg.png" type="image/jpeg" media="(min-width: 1025px)">
        <source srcset="img/footer-bg-tablet.webp" type="image/webp" media="(min-width: 1024px)">
        <source srcset="img/footer-bg-tablet.png" type="image/jpeg" media="(min-width: 1024px)">
        <source srcset="img/footer-bg-mobile.webp" type="image/webp" media="(min-width: 320px)">
        <source srcset="img/footer-bg-mobile.png" type="image/jpeg" media="(min-width: 320px)">

        <img class="footer__bg-image" src="img/footer-bg.png" alt="Фон">
    </picture>
    <div class="container">
        <div class="footer__inner">
            <a class="footer__email" href="mailto:hello@dvizh.ru">hello@dvizh.ru</a>
            <a class="footer__tel" href="tel:+74994041515">+7 (499) 404-15-15</a>
            <ul class="socials">
                <li class="socials__item">
                    <a class="socials__link" target="_blank" href="https://www.facebook.com/forumdvizhenie" title="Facebook">
                        <svg class="socials__link-icon">
                            <use xlink:href="#facebook">
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" target="_blank" href="https://t.me/dvizhenieforum" title="Telegram">
                        <svg class="socials__link-icon">
                            <use xlink:href="#telegram">
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" target="_blank" href="https://www.instagram.com/forumdvizhenie/?igshid=w5599zzmja8l" title="Instagram">
                        <svg class="socials__link-icon">
                            <use xlink:href="#instagram">
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>