<footer class="page-footer footer">
    <img class="footer__bg-image" src="img/footer-bg.png" alt="Фон" loading="lazy">
    <div class="container">
        <div class="footer__inner">
            <a class="footer__email" href="mailto:hello@dvizh.ru">hello@dvizh.ru</a>
            <a class="footer__tel" href="tel:+74994041515">+7 (499) 404-15-15</a>
            <ul class="socials">
                <li class="socials__item">
                    <a class="socials__link" target="_blank" href="#" title="Facebook">
                        <svg class="socials__link-icon">
                            <use xlink:href="#facebook">
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" target="_blank" href="#" title="Telegram">
                        <svg class="socials__link-icon">
                            <use xlink:href="#telegram">
                        </svg>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" target="_blank" href="#" title="Instagram">
                        <svg class="socials__link-icon">
                            <use xlink:href="#instagram">
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>