<header class="page-header">
    <div class="container container--wide">
        <div class="header">
            <div class="header__overlay"></div>
            <a class="header__logo header__logo_name_dvizh" href="#" title="Сайт форума" target="_blank" style="pointer-events: none;">
                <img src="img/dvizh-logo.png" alt="Логотип" loading="lazy">
            </a>

            <nav class="header__menu">
                <ul class="header__menu-list">
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#about">О форуме</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#program">Программа</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#organizers">Команда</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#footer">Контакты</a>
                    </li>
                </ul>
            </nav>

            <a class="header__logo header__logo_name_devision" href="https://devision.agency/" title="Сайт DEVISION" target="_blank">
                {{!-- <span class="header__logo-label">главный<br/>информпартнер</span> --}}
                <img src="img/devision-logo.svg" alt="Логотип" loading="lazy">
            </a>

            <button class="header__burger" type="button" title="Меню">
                Меню
            </button>
        </div>
    </div>
</header>