<header class="page-header">
    <div class="container">
        <div class="header">
            <a class="header__logo header__logo_name_dvizh" href="#" title="Сайт форума" target="_blank">
                <img src="img/dvizh-logo.png" alt="Логотип" loading="lazy">
            </a>

            <nav class="header__menu">
                <ul class="header__menu-list">
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">О форуме</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">Спикеры</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">Программа</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">Команда</a>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">Контакты</a>
                    </li>
                </ul>
            </nav>

            <a class="header__logo header__logo_name_devision" href="#" title="Сайт DEVISION" target="_blank">
                <img src="img/devision-logo.png" alt="Логотип" loading="lazy">
            </a>
        </div>
    </div>
</header>