<section class="intro" id="intro">
    <picture>
        <source srcset="img/content/intro-bg.webp" type="image/webp" media="(min-width: 1025px)">
        <source srcset="img/content/intro-bg.jpg" type="image/jpeg" media="(min-width: 1025px)">
        <source srcset="img/content/intro-bg-tablet.webp" type="image/webp" media="(min-width: 769px)">
        <source srcset="img/content/intro-bg-tablet.jpg" type="image/jpeg" media="(min-width: 769px)">
        <source srcset="img/content/intro-bg-small-tablet.webp" type="image/webp" media="(min-width: 577px)">
        <source srcset="img/content/intro-bg-small-tablet.jpg" type="image/jpeg" media="(min-width: 577px)">
        <source srcset="img/content/intro-bg-mobile.webp" type="image/webp" media="(min-width: 375px)">
        <source srcset="img/content/intro-bg-mobile.jpg" type="image/jpeg" media="(min-width: 375px)">
        <source srcset="img/content/intro-bg-supersmall-mobile.webp" type="image/webp" media="(min-width: 320px)">
        <source srcset="img/content/intro-bg-supersmall-mobile.jpg" type="image/jpeg" media="(min-width: 320px)">

        <img class="intro__bg-image" src="img/content/intro-bg.jpg" alt="Фон">
    </picture>
    <div class="intro__bg-overlay"></div>
    <div class="container container--wide">
        <div class="intro__inner">
            <div class="ghost"></div>
            <div class="intro__content">
                <picture>
                    <source srcset="img/3d.webp" type="image/webp">
                    <source srcset="img/3d.png" type="image/png">
                    
                    <img class="intro__title-image" src="img/3d.png" alt="3 Движение">
                </picture>
                <div class="intro__title-container js-animation">
                    <h1 class="intro__title">форум в&nbsp;новом&nbsp;объеме</h1>
                    <div class="intro__subtitle-container">
                        <div class="intro__place-and-time">
                            <span class="intro__place">Сочи. Роза Хутор</span>
                            <span class="intro__time">14-16 февраля 2022</span>
                        </div>
                        <a class="intro__btn" href="#tickets">Купить билет</a>
                    </div>
                </div>
            </div>

            <div class="intro__footer">
                {{!-- <a class="intro__partner" href="#" title="Перейти на сайт" target="_blank">
                    <span class="intro__partner-label">генеральный <br/> партнер</span>
                    <img class="intro__partner-image" src="img/icons/vtb.svg" alt="Партнёр" loading="lazy">
                </a> --}}

                <a class="intro__next-slide-btn" href="#about" title="Вниз" type="button">
                    <svg class="intro__next-slide-btn-icon">
                        <use xlink:href="#next-slide">
                    </svg>
                </a>

                {{!-- <div class="intro__organizers">
                    <a class="intro__organizer" href="#" title="Перейти на сайт" target="_blank">
                        <span class="intro__organizer-label">соорганизаторы</span>
                        <img class="intro__organizer-image intro__organizer-image_name_sber" src="img/sber.png" alt="Партнёр" loading="lazy">
                    </a>

                    <a class="intro__organizer" href="#" title="Перейти на сайт" target="_blank">
                        <span class="intro__organizer-label">друг форума</span>
                        <img class="intro__organizer-image intro__organizer-image_name_profitbase" src="img/profitbase.png" alt="Партнёр" loading="lazy">
                    </a>
                </div> --}}
            </div>
        </div>
    </div>
</section>