<div class="map">
  <div class="map__main-content">
    <div class="container">
      <h2 class="section-title js-animation">Карта участников<br/>Движения</h2>
    </div>

    <div class="map__map-wrapper">
      <picture>
        <source srcset="img/content/map/map.webp" type="image/webp">
        <source srcset="img/content/map/map.png" type="image/png">
        <img class="map__image" src="img/content/map/map.png" alt="">
      </picture>

      <img class="map__map-arrow js-animation" src="img/content/map/map-arrow.svg" alt="Стрелка">

      <div class="map__captions-wrapper">
        <div class="map__captions">
          <div class="map__captions-num">54</div>
          <div class="map__captions-text">города</div>
        </div>

        <div class="map__captions">
          <div class="map__captions-num">3</div>
          <div class="map__captions-text">страны</div>
        </div>
      </div>
    </div>
  </div>
</div>
