<section class="map">
  <div class="container">
    <div class="section-title">
      <img src="img/content/map/logo.svg" alt="Движение" class="map__title-image">
      <div class="map__subtitle">
        форум недвижимости
      </div>
    </div>
  </div>

  <div class="map__map-wrapper">
    <img src="img/content/map/map.svg" alt="" class="map__image">
    <div class="map__map-title-container">
      К нам едут коллеги
      <div class="map__map-title-part-wrapper">
        <div class="map__map-title-part">
          от Минска
        </div>
        <div class="map__map-title-dash"></div>
        <div class="map__map-title-part">
          до Владивостока
        </div>
      </div>
    </div>
  </div>

  <ul class="map__sponsors-list">
    <li class="map__sponsor-item">
      <img src="img/content/map/sponsor-1.png" alt="" class="map__sponsor-image">
    </li>
    <li class="map__sponsor-item">
      <img src="img/content/map/sponsor-2.png" alt="" class="map__sponsor-image">
    </li>
    <li class="map__sponsor-item">
      <img src="img/content/map/sponsor-3.png" alt="" class="map__sponsor-image">
    </li>
    <li class="map__sponsor-item">
      <img src="img/content/map/sponsor-4.png" alt="" class="map__sponsor-image">
    </li>
    <li class="map__sponsor-item">
      <img src="img/content/map/sponsor-5.png" alt="" class="map__sponsor-image">
    </li>
    <li class="map__sponsor-item">
      <img src="img/content/map/sponsor-6.png" alt="" class="map__sponsor-image">
    </li>
  </ul>
</section>
