<section class="map">
  <div class="map__main-content">
    <div class="container map__container">
      <a class="map__header-link" href="#" title="Перейти на сайт форума">
        <img class="map__logo" src="img/dvizh-logo-dark.svg" alt="Лого">
      </a>
    </div>

    <div class="map__map-wrapper">
      <picture>
        <source srcset="img/content/map/map.webp" type="image/webp">
        <source srcset="img/content/map/map.png" type="image/png">
        <img src="img/content/map/map.png" alt="" class="map__image">
      </picture>
      
      <div class="container map__map-title-container">
        К нам едут коллеги
        <div class="map__map-title-part-wrapper">
          <div class="map__map-title-part">
            от Минска
          </div>
          <div class="map__map-title-dash"></div>
          <div class="map__map-title-part">
            до Владивостока
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="swiper map__slider">
      <ul class="swiper-wrapper map__sponsors-list">
        <li class="swiper-slide map__sponsor-item">
          <a class="map__sponsor-link" href="#" target="_blank" title="Перейти на сайт">
            <img src="img/content/map/sponsor-1.png" alt="Спонсор" loading="lazy" class="map__sponsor-image">
          </a>
        </li>
        <li class="swiper-slide map__sponsor-item">
          <a class="map__sponsor-link" href="#" target="_blank" title="Перейти на сайт">
            <img src="img/content/map/sponsor-2.png" alt="Спонсор" loading="lazy" class="map__sponsor-image">
          </a>
        </li>
        <li class="swiper-slide map__sponsor-item">
          <a class="map__sponsor-link" href="#" target="_blank" title="Перейти на сайт">
            <img src="img/content/map/sponsor-3.png" alt="Спонсор" loading="lazy" class="map__sponsor-image">
          </a>
        </li>
        <li class="swiper-slide map__sponsor-item">
          <a class="map__sponsor-link" href="#" target="_blank" title="Перейти на сайт">
            <img src="img/content/map/sponsor-4.png" alt="Спонсор" loading="lazy" class="map__sponsor-image">
          </a>
        </li>
        <li class="swiper-slide map__sponsor-item">
          <a class="map__sponsor-link" href="#" target="_blank" title="Перейти на сайт">
            <img src="img/content/map/sponsor-5.png" alt="Спонсор" loading="lazy" class="map__sponsor-image">
          </a>
        </li>
        <li class="swiper-slide map__sponsor-item">
          <a class="map__sponsor-link" href="#" target="_blank" title="Перейти на сайт">
            <img src="img/content/map/sponsor-6.png" alt="Спонсор" loading="lazy" class="map__sponsor-image">
          </a>
        </li>
        <li class="swiper-slide map__sponsor-item">
          <a class="map__sponsor-link" href="#" target="_blank" title="Перейти на сайт">
            <img src="img/content/map/sponsor-7.png" alt="Спонсор" loading="lazy" class="map__sponsor-image">
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
