<div class="marquee3k marquee" data-speed="0.5">
  <div class="marquee__wrapper">
    <span class="marquee__unit">быстрее</span>
    <span class="marquee__unit">выше</span>
    <span class="marquee__unit">сильнее</span>
    <span class="marquee__unit">вместе</span>
  </div>
</div>