<div class="marquee3k marquee" data-speed="2">
  <ul class="marquee__wrapper">
    <li class="marquee__unit">
      <span class="marquee__unit-text">строить</span>
      <div class="marquee__unit-slash"></div>
      <span class="marquee__unit-text">быстрее</span>
    </li>
    <li class="marquee__unit">
      <span class="marquee__unit-text">стремиться</span>
      <div class="marquee__unit-slash"></div>
      <span class="marquee__unit-text">выше</span>
    </li>
    <li class="marquee__unit">
      <span class="marquee__unit-text">Становиться</span>
      <div class="marquee__unit-slash"></div>
      <span class="marquee__unit-text">сильнее</span>
    </li>
    <li class="marquee__unit">
      <span class="marquee__unit-text">Делать</span>
      <div class="marquee__unit-slash"></div>
      <span class="marquee__unit-text">вместе</span>
    </li>
  </ul>
</div>