<div class="marquee3k marquee" data-speed="2">
  <ul class="marquee__wrapper">
    <li class="marquee__unit">
      <span class="marquee__unit-text marquee__unit-text--default">строить</span>
      <div class="marquee__unit-slash"></div>
      <span class="marquee__unit-text marquee__unit-text--accent">быстрее</span>
    </li>
    <li class="marquee__unit">
      <span class="marquee__unit-text marquee__unit-text--default">думать</span>
      <div class="marquee__unit-slash"></div>
      <span class="marquee__unit-text marquee__unit-text--accent">выше</span>
    </li>
    <li class="marquee__unit">
      <span class="marquee__unit-text marquee__unit-text--default">Становиться</span>
      <div class="marquee__unit-slash"></div>
      <span class="marquee__unit-text marquee__unit-text--accent">сильнее</span>
    </li>
    <li class="marquee__unit">
      <span class="marquee__unit-text marquee__unit-text--default">Делать</span>
      <div class="marquee__unit-slash"></div>
      <span class="marquee__unit-text marquee__unit-text--accent">вместе</span>
    </li>
  </ul>
</div>