<div class="hystmodal modal video-modal" id="videoModal" aria-hidden="true">
  <div class="modal__overlay"></div>

  <div class="hystmodal__wrap modal__wrapper">
    <div class="hystmodal__window modal__content video-modal__content" role="dialog" aria-modal="true">
      <button data-hystclose class="hystmodal__close modal__close" title="Закрыть">
        <svg class="modal__close-icon">
          <use xlink:href="#cross">
        </svg>
      </button>

      <iframe class="video-modal__iframe" src="https://www.youtube.com/embed/RpKqEw_L3yc" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>