<section class="organizers" id="organizers">
  <div class="container">
    <h2 class="section-title organizers__title js-animation">организаторы ивента — команда DeVision</h2>

    <div class="organizers__content">
      <picture>
        <source srcset="img/organizers-bg.webp" type="image/webp">
        <source srcset="img/organizers-bg.png" type="image/png">
        <img class="organizers__bg-image js-animation" src="img/organizers-bg.png" alt="Фон">
      </picture>
      <ul class="organizers__grid-wrapper gridCards">
        <li class="organizers__item gridCards__item">
          <div class="organizers__item-image-wrapper organizers__item-image-wrapper--type-1">
            <img src="img/content/organizers/organizers-image-1.jpg" alt="" class="organizers__item-image">
            <div class="organizers__item-overlay organizers__item-overlay">
              <ul class="organizers__item-socials">
                <li class="organizers__item-social">
                  <a class="organizers__item-social-link" href="#" target="_blank" title="Telegram">
                    <svg class="organizers__item-social-icon">
                      <use xlink:href="#telegram">
                    </svg>
                  </a>
                </li>
                <li class="organizers__item-social">
                  <a class="organizers__item-social-link" href="#" target="_blank" title="Instagram">
                    <svg class="organizers__item-social-icon">
                      <use xlink:href="#instagram">
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="organizers__item-post">Основатель форума</span>
              <span class="organizers__item-about">Отвечает за концепцию, смыслы</span>
            </div>
          </div>
          <div class="organizers__item-title">
            Илья Пискулин
          </div>
        </li>
        <li class="organizers__item gridCards__item">
          <div class="organizers__item-image-wrapper organizers__item-image-wrapper--type-2">
            <img src="img/content/organizers/organizers-image-2.jpg" alt="" class="organizers__item-image">
            <div class="organizers__item-overlay organizers__item-overlay">
              <ul class="organizers__item-socials">
                <li class="organizers__item-social">
                  <a class="organizers__item-social-link" href="#" target="_blank" title="Telegram">
                    <svg class="organizers__item-social-icon">
                      <use xlink:href="#telegram">
                    </svg>
                  </a>
                </li>
                <li class="organizers__item-social">
                  <a class="organizers__item-social-link" href="#" target="_blank" title="Instagram">
                    <svg class="organizers__item-social-icon">
                      <use xlink:href="#instagram">
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="organizers__item-post">PR-директор</span>
              <span class="organizers__item-about">Отвечает за работу со СМИ информационное партнерство, контент</span>
            </div>
          </div>
          <div class="organizers__item-title">
            Алена Нечетова
          </div>
        </li>
        <li class="organizers__item gridCards__item">
          <div class="organizers__item-image-wrapper organizers__item-image-wrapper--type-3">
            <img src="img/content/organizers/organizers-image-3.jpg" alt="" class="organizers__item-image">
            <div class="organizers__item-overlay organizers__item-overlay">
              <ul class="organizers__item-socials">
                <li class="organizers__item-social">
                  <a class="organizers__item-social-link" href="#" target="_blank" title="Telegram">
                    <svg class="organizers__item-social-icon">
                      <use xlink:href="#telegram">
                    </svg>
                  </a>
                </li>
                <li class="organizers__item-social">
                  <a class="organizers__item-social-link" href="#" target="_blank" title="Instagram">
                    <svg class="organizers__item-social-icon">
                      <use xlink:href="#instagram">
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="organizers__item-post">Директор по маркетингу</span>
              <span class="organizers__item-about">Отвечает за работу рекламу «Движения» на ваших площадках</span>
            </div>
          </div>
          <div class="organizers__item-title">
            Мария Штыкова
          </div>
        </li>
        <li class="organizers__item gridCards__item">
          <div class="organizers__item-image-wrapper organizers__item-image-wrapper--type-1">
            <img src="img/content/organizers/organizers-image-4.jpg" alt="" class="organizers__item-image">
            <div class="organizers__item-overlay organizers__item-overlay">
              <ul class="organizers__item-socials">
                <li class="organizers__item-social">
                  <a class="organizers__item-social-link" href="#" target="_blank" title="Telegram">
                    <svg class="organizers__item-social-icon">
                      <use xlink:href="#telegram">
                    </svg>
                  </a>
                </li>
                <li class="organizers__item-social">
                  <a class="organizers__item-social-link" href="#" target="_blank" title="Instagram">
                    <svg class="organizers__item-social-icon">
                      <use xlink:href="#instagram">
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="organizers__item-post">Программный директор</span>
              <span class="organizers__item-about">Отвечает за программное партнерство</span>
            </div>
          </div>
          <div class="organizers__item-title">
            Наталья Вохмина
          </div>
        </li>
        <li class="organizers__item gridCards__item">
          <div class="organizers__item-image-wrapper organizers__item-image-wrapper--type-2">
            <img src="img/content/organizers/organizers-image-5.jpg" alt="" class="organizers__item-image">
            <div class="organizers__item-overlay organizers__item-overlay">
              <ul class="organizers__item-socials">
                <li class="organizers__item-social">
                  <a class="organizers__item-social-link" href="#" target="_blank" title="Telegram">
                    <svg class="organizers__item-social-icon">
                      <use xlink:href="#telegram">
                    </svg>
                  </a>
                </li>
                <li class="organizers__item-social">
                  <a class="organizers__item-social-link" href="#" target="_blank" title="Instagram">
                    <svg class="organizers__item-social-icon">
                      <use xlink:href="#instagram">
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="organizers__item-post">Менеджер по коллаборациям</span>
              <span class="organizers__item-about">Отвечает за работу с единственным партнером, который получит эксклюзивное размещение на форуме</span>
            </div>
          </div>
          <div class="organizers__item-title">
            Денис Войт
          </div>
        </li>
        <li class="organizers__item gridCards__item">
          <div class="organizers__item-image-wrapper organizers__item-image-wrapper--type-1">
            <img src="img/content/organizers/organizers-image-5.jpg" alt="" class="organizers__item-image">
            <div class="organizers__item-overlay organizers__item-overlay">
              <ul class="organizers__item-socials">
                <li class="organizers__item-social">
                  <a class="organizers__item-social-link" href="#" target="_blank" title="Telegram">
                    <svg class="organizers__item-social-icon">
                      <use xlink:href="#telegram">
                    </svg>
                  </a>
                </li>
                <li class="organizers__item-social">
                  <a class="organizers__item-social-link" href="#" target="_blank" title="Instagram">
                    <svg class="organizers__item-social-icon">
                      <use xlink:href="#instagram">
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="organizers__item-post">Event–директор</span>
              <span class="organizers__item-about">Отвечает за все происходящее</span>
            </div>
          </div>
          <div class="organizers__item-title">
            Заур Бабаев
          </div>
        </li>
        <li class="organizers__item gridCards__item">
          <div class="organizers__item-image-wrapper organizers__item-image-wrapper--type-3">
            <img src="img/content/organizers/organizers-image-5.jpg" alt="" class="organizers__item-image">
            <div class="organizers__item-overlay organizers__item-overlay">
              <ul class="organizers__item-socials">
                <li class="organizers__item-social">
                  <a class="organizers__item-social-link" href="#" target="_blank" title="Telegram">
                    <svg class="organizers__item-social-icon">
                      <use xlink:href="#telegram">
                    </svg>
                  </a>
                </li>
                <li class="organizers__item-social">
                  <a class="organizers__item-social-link" href="#" target="_blank" title="Instagram">
                    <svg class="organizers__item-social-icon">
                      <use xlink:href="#instagram">
                    </svg>
                  </a>
                </li>
              </ul>

              <span class="organizers__item-post">Менеджер по продажам</span>
              <span class="organizers__item-about">Отвечает за билеты и проживание</span>
            </div>
          </div>
          <div class="organizers__item-title">
            Максим Муртазаев
          </div>
        </li>
      </ul>
    </div>

    <div class="organizers__partners-container">
      <h2 class="section-title organizers__title-partners js-animation">Информационные партнеры</h2>

      <div class="organizers__partners-grid js-animation">
        <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
          <img src="img/content/organizers/partners-1.png" alt="" class="organizers__partners-item" loading="lazy">
        </a>

        <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
          <img src="img/content/organizers/partners-2.png" alt="" class="organizers__partners-item" loading="lazy">
        </a>

        <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
          <img src="img/content/organizers/partners-3.png" alt="" class="organizers__partners-item" loading="lazy">
        </a>

        <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
          <img src="img/content/organizers/partners-4.png" alt="" class="organizers__partners-item" loading="lazy">
        </a>

        <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
          <img src="img/content/organizers/partners-5.png" alt="" class="organizers__partners-item" loading="lazy">
        </a>

        <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
          <img src="img/content/organizers/partners-6.png" alt="" class="organizers__partners-item" loading="lazy">
        </a>

        <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
          <img src="img/content/organizers/partners-7.png" alt="" class="organizers__partners-item" loading="lazy">
        </a>

        <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
          <img src="img/content/organizers/partners-8.png" alt="" class="organizers__partners-item" loading="lazy">
        </a>
        
      </div>
    </div>
  </div>
</section>
