<section class="program" id="program">
  <div class="container">
    <div class="program__inner">
      <h2 class="section-title program__title">ДЕЛОВАЯ И ВЕЧЕРНЯЯ ПРОГРАММА</h2>

      <ul class="program__list">
        <li class="program__item">
          <div class="program-card">
            <div class="program-card__date-block">
              <span class="program-card__date-day">16</span>
              <span class="program-card__date-month">февраля</span>
            </div>

            <div class="program-card__description-block">
              <img class="program-card__bg-image" src="img/icons/programs-arrow-1.svg" alt="Фон карточки" loading="lazy">
              <ul class="program-card__description-list">
                <li class="program-card__description-item">
                  <div class="program-card__title-wrapper">
                    <span class="program-card__time">10:00&nbsp;– 18:00</span>
                    <span class="program-card__title">Конференционный день</span>
                  </div>
                  <p class="program-card__desc">Перед вторым «Движением» мы думали ослабить критерии посещения форума в 2022 году. Но, проанализировав вашу обратную связь, поняли, как вы цените то, что в зале практически все — застройщики.</p>
                </li>

                <li class="program-card__item">
                  <div class="program-card__title-wrapper">
                    <span class="program-card__time">21:00</span>
                    <span class="program-card__title">Квиз «Мозги в каске»</span>
                  </div>
                </li>
              </ul>
            </div>

            <div class="program-card__image-block">
              <div class="program-card__image-wrapper">
                <picture>
                  <source srcset="img/content/program/program-1.webp" type="image/webp">
                  <source srcset="img/content/program/program-1.jpg" type="image/jpeg">
                  <img class="program-card__image" src="img/content/program/program-1.jpg" alt="Программа" loading="lazy">
                </picture>
              </div>
            </div>
          </div>
        </li>

        <li class="program__item">
          <div class="program-card">
            <div class="program-card__date-block">
              <span class="program-card__date-day">17</span>
              <span class="program-card__date-month">февраля</span>
            </div>

            <div class="program-card__description-block">
              <img class="program-card__bg-image" src="img/icons/programs-arrow-2.svg" alt="Фон карточки" loading="lazy">
              <ul class="program-card__description-list">
                <li class="program-card__description-item">
                  <div class="program-card__title-wrapper">
                    <span class="program-card__time">10:00&nbsp;– 18:00</span>
                    <span class="program-card__title">Работа тематических секций</span>
                  </div>
                  <p class="program-card__desc">Перед вторым «Движением» мы думали ослабить критерии посещения форума в 2022 году. Но, проанализировав вашу обратную связь, поняли, как вы цените то, что в зале практически все — застройщики.</p>
                </li>

                <li class="program-card__item">
                  <div class="program-card__title-wrapper">
                    <span class="program-card__time">21:00</span>
                    <span class="program-card__title">StandUp-шоу Дмитрия Романова, Славы Комиссаренко, Нурлана Сабурова</span>
                  </div>
                </li>
              </ul>
            </div>

            <div class="program-card__image-block">
              <div class="program-card__image-wrapper">
                <picture>
                  <source srcset="img/content/program/program-2.webp" type="image/webp">
                  <source srcset="img/content/program/program-2.jpg" type="image/jpeg">
                  <img class="program-card__image" src="img/content/program/program-2.jpg" alt="Программа" loading="lazy">
                </picture>
              </div>
            </div>
          </div>
        </li>

        <li class="program__item">
          <div class="program-card">
            <div class="program-card__date-block">
              <span class="program-card__date-day">18</span>
              <span class="program-card__date-month">февраля</span>
            </div>

            <div class="program-card__description-block">
              <img class="program-card__bg-image" src="img/icons/programs-arrow-3.svg" alt="Фон карточки" loading="lazy">
              <ul class="program-card__description-list">
                <li class="program-card__description-item">
                  <div class="program-card__title-wrapper">
                    <span class="program-card__time">10:00&nbsp;– 18:00</span>
                    <span class="program-card__title">Воркшопы и мастермайнды</span>
                  </div>
                  <p class="program-card__desc">Перед вторым «Движением» мы думали ослабить критерии посещения форума в 2022 году. Но, проанализировав вашу обратную связь, поняли, как вы цените то, что в зале практически все — застройщики.</p>
                </li>

                <li class="program-card__item">
                  <div class="program-card__title-wrapper">
                    <span class="program-card__time">21:00</span>
                    <span class="program-card__title">Музыкальное шоу: Ёлка и Градусы</span>
                  </div>
                </li>
              </ul>
            </div>

            <div class="program-card__image-block">
              <div class="program-card__image-wrapper">
                <picture>
                  <source srcset="img/content/program/program-3.webp" type="image/webp">
                  <source srcset="img/content/program/program-3.jpg" type="image/jpeg">
                  <img class="program-card__image" src="img/content/program/program-3.jpg" alt="Программа" loading="lazy">
                </picture>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>