<section class="promises" id="promises-host">
  <div class="container">
    <div class="promises__inner">
      <h2 class="section-title promises__title">Каким будет этот форум</h2>

      <div class="promises__slider gsap__slider-container">
        <div class="promises__container gsap__wrapper">
          <ul class="promises__list gsap__list">
            <li class="promises__list-item">
              <div class="promises__slide-wrapper"></div>
              <div class="promise">
                <div class="promise__content">
                  <div class="promise__title-wrapper">
                    <span class="promise__title-number">1.</span>
                    <h3 class="promise__title">Отбор участников — еще строже</h3>
                  </div>
                  <p class="promise__description">Перед вторым «Движением» мы думали ослабить критерии посещения форума в 2022 году. Но, проанализировав вашу обратную связь, поняли, как вы цените то, что в зале практически все — застройщики. Поэтому на третьем «Движении» отбор будет ещё жестче. Мы оставим за собой право лишать участника аккредитации прямо на мероприятии, если он не является сотрудником девелоперской компании и обманул нас при регистрации.</p>
                </div>
                <div class="promise__image-block">
                  <div class="promise__image-wrapper">
                    <img src="../../img/content/promises/promise-1.jpg" alt="Каким будет этот форум" class="promise__image" loading="lazy">
                  </div>
                </div>
              </div>
            </li>

            <li class="promises__list-item">
              <div class="promises__slide-wrapper"></div>
              <div class="promise">
                <div class="promise__content">
                  <div class="promise__title-wrapper">
                    <span class="promise__title-number">2.</span>
                    <h3 class="promise__title">Спикеры, которых нельзя услышать за деньги</h3>
                  </div>
                  <p class="promise__description">На прошлом «Движении» у нас было много оплаченных тренеров. Работать с ними проще, чем с топ-менеджерами девелоперских компаний — заплатил деньги и живешь в полной уверенности, что никто не сорвётся. С топами всё иначе. Иногда они могут не подготовить доклад или запланировать отпуск. Тем не менее, мы не ищем лёгких путей. Вы массово просили пригласить больше тех, кого нельзя услышать за деньги - речь о людях из отрасли. Так и будет.</p>
                </div>
                <div class="promise__image-block">
                  <div class="promise__image-wrapper">
                    <img src="../../img/content/promises/promise-1.jpg" alt="Каким будет этот форум" class="promise__image" loading="lazy">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
