<ul class="intro__slogan">
  <li class="intro__slogan-item">
    <span class="intro__slogan-text">Строить</span>
    <span class="intro__slogan-separator"></span>
    <span class="intro__slogan-text">быстрее</span>
  </li>

  <li class="intro__slogan-item">
    <span class="intro__slogan-text">Стремиться</span>
    <span class="intro__slogan-separator"></span>
    <span class="intro__slogan-text">выше</span>
  </li>

  <li class="intro__slogan-item">
    <span class="intro__slogan-text">Становиться</span>
    <span class="intro__slogan-separator"></span>
    <span class="intro__slogan-text">сильнее</span>
  </li>

  <li class="intro__slogan-item">
    <span class="intro__slogan-text">Делать</span>
    <span class="intro__slogan-separator"></span>
    <span class="intro__slogan-text">вместе</span>
  </li>
</ul>