<section class="speakers">
  <div class="container">
    <div class="speakers__inner">
      <div class="speakers__microphone">
        <img class="speakers__microphone-arr-bottom js-animation" src="img/content/background/microphone-arr-bottom.svg" alt="Фон">
        <img class="speakers__microphone-arr-top js-animation" src="img/content/background/microphone-arr-top.svg" alt="Фон">

        <picture>
          <source srcset="img/content/background/microphone.webp" type="image/webp">
          <source srcset="img/content/background/microphone.png" type="image/png">
          <img class="speakers__bg js-animation" src="img/content/background/microphone.png" alt="Спикеры">
        </picture>
      </div>

      <div class="speakers__header">
        <h2 class="section-title js-animation">С длинными ДОКЛАДАМИ <br/> ВЫСТУПЯТ СПИКЕРЫ</h2>
        <a class="speakers__more" href="#" target="_blank">ЕЩЁ</a>
      </div>

      <ul class="speakers__list gridCards">
        <li class="speakers__item gridCards__item">
          <div class="speaker">
            <div class="speaker__image-wrapper">
              <img class="speaker__photo" src="img/content/speakers/speaker-1.png" alt="Спикер" loading="lazy">
            </div>
            <span class="speaker__name">Василий Селиванов</span>
            <span class="speaker__post">Генереальный директор LEGENDA Intelligent Development</span>
          </div>
        </li>
        <li class="speakers__item gridCards__item">
          <div class="speaker">
            <div class="speaker__image-wrapper">
              <img class="speaker__photo" src="img/content/speakers/speaker-2.png" alt="Спикер" loading="lazy">
            </div>
            <span class="speaker__name">Александр Николаев</span>
            <span class="speaker__post">Президент "ИНТЕКО"</span>
          </div>
        </li>
        <li class="speakers__item gridCards__item">
          <div class="speaker">
            <div class="speaker__image-wrapper">
              <img class="speaker__photo" src="img/content/speakers/speaker-3.png" alt="Спикер" loading="lazy">
            </div>
            <span class="speaker__name">Владимир Воронин</span>
            <span class="speaker__post">Президент группы компаний ФСК</span>
          </div>
        </li>
        <li class="speakers__item gridCards__item">
          <div class="speaker">
            <div class="speaker__image-wrapper">
              <img class="speaker__photo" src="img/content/speakers/speaker-4.png" alt="Спикер" loading="lazy">
            </div>
            <span class="speaker__name">Геннадий Щербина</span>
            <span class="speaker__post">Президент группы компаний ФСК</span>
          </div>
        </li>
        <li class="speakers__item gridCards__item">
          <div class="speaker">
            <div class="speaker__image-wrapper">
              <img class="speaker__photo" src="img/content/speakers/speaker-1.png" alt="Спикер" loading="lazy">
            </div>
            <span class="speaker__name">Василий Селиванов</span>
            <span class="speaker__post">Генереальный директор LEGENDA Intelligent Development</span>
          </div>
        </li>
        <li class="speakers__item gridCards__item">
          <div class="speaker">
            <div class="speaker__image-wrapper">
              <img class="speaker__photo" src="img/content/speakers/speaker-2.png" alt="Спикер" loading="lazy">
            </div>
            <span class="speaker__name">Александр Николаев</span>
            <span class="speaker__post">Президент "ИНТЕКО"</span>
          </div>
        </li>
      </ul>

    </div>
  </div>
</section>