<section class="speakers">
  <div class="container">
    <div class="speakers__inner">
      <picture>
        <source srcset="img/speakers-bg.webp" type="image/webp">
        <source srcset="img/speakers-bg.png" type="image/png">
        <img class="speakers__bg" src="img/speakers-bg.png" alt="Спикеры">
      </picture>

      <div class="speakers__header">
        <h2 class="section-title js-animation">С длинными ДОКЛАДАМИ ВЫСТУПЯТ СПИКЕРЫ</h2>
        <a class="speakers__more" href="#" target="_blank">ЕЩЁ</a>
      </div>

      <ul class="speakers__list gridCards">
        <li class="speakers__item gridCards__item">
          <div class="speaker">
            <div class="speaker__image-wrapper">
              <img class="speaker__photo" src="img/content/speakers/speaker-1.png" alt="Спикер" loading="lazy">
            </div>
            <span class="speaker__name">Василий Селиванов</span>
            <span class="speaker__post">Генереальный директор LEGENDA Intelligent Development</span>
          </div>
        </li>
        <li class="speakers__item gridCards__item">
          <div class="speaker">
            <div class="speaker__image-wrapper">
              <img class="speaker__photo" src="img/content/speakers/speaker-2.png" alt="Спикер" loading="lazy">
            </div>
            <span class="speaker__name">Александр Николаев</span>
            <span class="speaker__post">Президент "ИНТЕКО"</span>
          </div>
        </li>
        <li class="speakers__item gridCards__item">
          <div class="speaker">
            <div class="speaker__image-wrapper">
              <img class="speaker__photo" src="img/content/speakers/speaker-3.png" alt="Спикер" loading="lazy">
            </div>
            <span class="speaker__name">Владимир Воронин</span>
            <span class="speaker__post">Президент группы компаний ФСК</span>
          </div>
        </li>
        <li class="speakers__item gridCards__item">
          <div class="speaker">
            <div class="speaker__image-wrapper">
              <img class="speaker__photo" src="img/content/speakers/speaker-4.png" alt="Спикер" loading="lazy">
            </div>
            <span class="speaker__name">Геннадий Щербина</span>
            <span class="speaker__post">Президент группы компаний ФСК</span>
          </div>
        </li>
        <li class="speakers__item gridCards__item">
          <div class="speaker">
            <div class="speaker__image-wrapper">
              <img class="speaker__photo" src="img/content/speakers/speaker-1.png" alt="Спикер" loading="lazy">
            </div>
            <span class="speaker__name">Василий Селиванов</span>
            <span class="speaker__post">Генереальный директор LEGENDA Intelligent Development</span>
          </div>
        </li>
        <li class="speakers__item gridCards__item">
          <div class="speaker">
            <div class="speaker__image-wrapper">
              <img class="speaker__photo" src="img/content/speakers/speaker-2.png" alt="Спикер" loading="lazy">
            </div>
            <span class="speaker__name">Александр Николаев</span>
            <span class="speaker__post">Президент "ИНТЕКО"</span>
          </div>
        </li>
      </ul>

    </div>
  </div>
</section>