<div class="sticky-header">
  <div class="container">
    <div class="sticky-header__inner">
      <span class="sticky-header__text">До главного события для девелоперов СНГ</span>

      <div class="sticky-header__time-container">
        <span class="sticky-header__time">180:00:00</span>
        <div class="sticky-header__time-labels">
          <span class="sticky-header__time-label">Дней</span>
          <span class="sticky-header__time-label">Часов</span>
        </div>
      </div>

      <a class="sticky-header__btn" href="#">Купить билет</a>
    </div>
  </div>
</div>