<section class="sticky-header">
  <div class="container">
    <div class="sticky-header__inner">
      <div class="sticky-header__text-block">
        <span class="sticky-header__text">До главного события для девелоперов СНГ</span>

        <div class="sticky-header__time-container">
          <span class="sticky-header__time" data-time="16.02.2022 00:00:00"></span>
          <div class="sticky-header__time-labels">
            <span class="sticky-header__time-label sticky-header__time-label_days"></span>
            <span class="sticky-header__time-label sticky-header__time-label_hours"></span>
          </div>
        </div>
      </div>

      <a class="sticky-header__btn" href="#tickets">Купить билет</a>
    </div>
  </div>
</section>