<section class="thematic-sections">
  <div class="container">
    <div class="thematic-sections__inner">
      <h2 class="section-title thematic-sections__title">5 ТЕМАТИЧЕСКИХ <br> СЕКЦИЙ</h2>

      <div class="swiper thematic-sections__slider">
        <ul class="swiper-wrapper thematic-sections__list">
          <li class="swiper-slide thematic-sections__item">
            <div class="thematic-section">
              <img class="thematic-section__image" src="../../img/thematic-sections/ts-1.png" alt="Тематическая секция" loading="lazy">
              <h3 class="thematic-section__title">Управление</h3>
              <button class="thematic-section__btn" type="button">Подробнее</button>
            </div>

            <div class="thematic-section__description">
              <p class="thematic-section__description-text">Перед вторым «Движением» мы думали ослабить критерии посещения форума в 2022 году. Но, проанализировав вашу обратную связь, поняли, как вы цените то, что в зале практически все — застройщики. Поэтому на третьем «Движении» отбор будет ещё жестче. Мы оставим за собой право лишать участника аккредитации прямо на мероприятии, если он не является сотрудником девелоперской компании и обманул нас при регистрации.</p>
            </div>
          </li>

          <li class="swiper-slide thematic-sections__item">
            <div class="thematic-section">
              <img class="thematic-section__image" src="../../img/thematic-sections/ts-2.png" alt="Тематическая секция" loading="lazy">
              <h3 class="thematic-section__title">Продажи</h3>
              <button class="thematic-section__btn" type="button">Подробнее</button>
            </div>

            <div class="thematic-section__description">
              <p class="thematic-section__description-text">Перед вторым «Движением» мы думали ослабить критерии посещения форума в 2022 году. Но, проанализировав вашу обратную связь, поняли, как вы цените то, что в зале практически все — застройщики. Поэтому на третьем «Движении» отбор будет ещё жестче. Мы оставим за собой право лишать участника аккредитации прямо на мероприятии, если он не является сотрудником девелоперской компании и обманул нас при регистрации.</p>
            </div>
          </li>

          <li class="swiper-slide thematic-sections__item">
            <div class="thematic-section">
              <img class="thematic-section__image" src="../../img/thematic-sections/ts-3.png" alt="Тематическая секция" loading="lazy">
              <h3 class="thematic-section__title">Маркетинг</h3>
              <button class="thematic-section__btn" type="button">Подробнее</button>
            </div>

            <div class="thematic-section__description">
              <p class="thematic-section__description-text">Перед вторым «Движением» мы думали ослабить критерии посещения форума в 2022 году. Но, проанализировав вашу обратную связь, поняли, как вы цените то, что в зале практически все — застройщики. Поэтому на третьем «Движении» отбор будет ещё жестче. Мы оставим за собой право лишать участника аккредитации прямо на мероприятии, если он не является сотрудником девелоперской компании и обманул нас при регистрации.</p>
            </div>
          </li>

          <li class="swiper-slide thematic-sections__item">
            <div class="thematic-section">
              <img class="thematic-section__image" src="../../img/thematic-sections/ts-4.png" alt="Тематическая секция" loading="lazy">
              <h3 class="thematic-section__title">Управляющая компания</h3>
              <button class="thematic-section__btn" type="button">Подробнее</button>
            </div>

            <div class="thematic-section__description">
              <p class="thematic-section__description-text">Перед вторым «Движением» мы думали ослабить критерии посещения форума в 2022 году. Но, проанализировав вашу обратную связь, поняли, как вы цените то, что в зале практически все — застройщики. Поэтому на третьем «Движении» отбор будет ещё жестче. Мы оставим за собой право лишать участника аккредитации прямо на мероприятии, если он не является сотрудником девелоперской компании и обманул нас при регистрации.</p>
            </div>
          </li>

          <li class="swiper-slide thematic-sections__item">
            <div class="thematic-section">
              <img class="thematic-section__image" src="../../img/thematic-sections/ts-5.png" alt="Тематическая секция" loading="lazy">
              <h3 class="thematic-section__title">Продукт</h3>
              <button class="thematic-section__btn" type="button">Подробнее</button>
            </div>

            <div class="thematic-section__description">
              <p class="thematic-section__description-text">Перед вторым «Движением» мы думали ослабить критерии посещения форума в 2022 году. Но, проанализировав вашу обратную связь, поняли, как вы цените то, что в зале практически все — застройщики. Поэтому на третьем «Движении» отбор будет ещё жестче. Мы оставим за собой право лишать участника аккредитации прямо на мероприятии, если он не является сотрудником девелоперской компании и обманул нас при регистрации.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>