<section class="ticket-reservation">
  <div class="container">
    <div class="ticket-reservation__inner">
      <h2 class="ticket-reservation__title section-title">Забронировать билет</h2>

      <form class="ticket-reservation__form form" method="POST" name="reservation">
        <fieldset class="ticket-reservation__form-inputs form__inputs">
          <input class="ticket-reservation__form-input form__input" type="text" placeholder="Имя, фамилия" required>
          <input class="ticket-reservation__form-input form__input" type="text" placeholder="Компания" required>
          <input class="ticket-reservation__form-input form__input" type="text" placeholder="Должность" required>
          <input class="ticket-reservation__form-input form__input" type="email" placeholder="E-mail" required>
        </fieldset>

        <button class="marquee3k ticket-reservation__form-submit-btn form__submit-btn" data-speed="0.5" type="submit">
          <div>
            <span class="ticket-reservation__btn-text">Отправить</span>
            <span class="ticket-reservation__btn-text">Отправить</span>
            <span class="ticket-reservation__btn-text">Отправить</span>
            <span class="ticket-reservation__btn-text">Отправить</span>
            <span class="ticket-reservation__btn-text">Отправить</span>
            <span class="ticket-reservation__btn-text">Отправить</span>
          </div>
        </button>
        <span class="ticket-reservation__form-btn-label form__btn-label">Нажимая кнопку отправить, вы даёте согласие на обработку персональных данных</span>
      </form>
    </div>
  </div>
</section>