<section class="ticket-reservation">
  <div class="container">
    <div class="ticket-reservation__inner">
      <h2 class="ticket-reservation__title section-title js-animation">Забронировать билет</h2>

      <div class="ticket-reservation__coin">
        <img class="ticket-reservation__coin-arr-bottom js-animation" src="img/content/background/coin-arr-bottom.svg" alt="Фон">

        <img class="ticket-reservation__coin-arr-top js-animation" src="img/content/background/coin-arr-top.svg" alt="Фон">

        <picture>
          <source srcset="img/content/background/coin.webp" type="image/webp">
          <source srcset="img/content/background/coin.png" type="image/png">
          <img class="ticket-reservation__bg-image js-animation" src="img/content/background/coin.png" alt="Фон">
        </picture>
      </div>

      <form class="ticket-reservation__form form" method="POST" name="reservation" data-need-validation>
        <fieldset class="ticket-reservation__form-inputs form__inputs">
          <input class="ticket-reservation__form-input form__input" name="name" type="text" placeholder="Имя, фамилия" required>
          <input class="ticket-reservation__form-input form__input" name="firm" type="text" placeholder="Компания" required>
          <input class="ticket-reservation__form-input form__input" name="position" type="text" placeholder="Должность" required>
          <input class="ticket-reservation__form-input form__input" name="email" type="email" placeholder="E-mail" required>
        </fieldset>

        <button class="marquee3k ticket-reservation__form-submit-btn form__submit-btn" data-speed="0.5" type="submit">
          <div class="ticket-reservation__btn-content">
            <span class="ticket-reservation__btn-text">Отправить</span>
            <span class="ticket-reservation__btn-text">Отправить</span>
            <span class="ticket-reservation__btn-text">Отправить</span>
            <span class="ticket-reservation__btn-text">Отправить</span>
            <span class="ticket-reservation__btn-text">Отправить</span>
            <span class="ticket-reservation__btn-text">Отправить</span>
            <span class="ticket-reservation__btn-text">Отправить</span>
            <span class="ticket-reservation__btn-text">Отправить</span>
          </div>
        </button>
        <span class="ticket-reservation__form-btn-label form__btn-label">Нажимая кнопку отправить, вы даёте согласие на обработку персональных данных</span>
      </form>
    </div>
  </div>
</section>