<section class="tickets">
  <div class="container">
    <div class="tickets__inner">
      <div class="tickets__header">
        <h2 class="tickets__title section-title">Билеты</h2>

        <p class="tickets__header-text">Прошлое движение было посвящено тому, как построить 120 млн квадратных метров в год. Это — тому, что должно быть над ними и вокруг. Мы будем говорить не о площади, а об объеме, среде, атмосфере, духе!</p>
      </div>

      <div class="swiper tickets__slider">
        <ul class="swiper-wrapper tickets__list">
          <li class="swiper-slide tickets__item">
            <a class="ticket" href="#" target="_blank">
              <h3 class="ticket__title">Вездеход VIP</h3>

              <ul class="ticket__list">
                <li class="ticket__list-item">
                  <span class="ticket__label">Посещение любой секции</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Трансфер из аэропорта на площадку форума</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">StandUp — оплачивается отдельно</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Концерт</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Обеды</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Кофе-брейки</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Место в первом ряду</span>
                </li>
              </ul>

              <div class="ticket__price-block">
                <span class="ticket__price">65 000 ₽</span>
                <span class="ticket__price-label">Цена действительна до 1 октября</span>
              </div>
            </a>
          </li>

          <li class="swiper-slide tickets__item">
            <a class="ticket" href="#" target="_blank">
              <h3 class="ticket__title">Вездеход</h3>

              <ul class="ticket__list">
                <li class="ticket__list-item">
                  <span class="ticket__label">Посещение любой секции</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Трансфер из аэропорта на площадку форума</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">StandUp — оплачивается отдельно</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Концерт</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Обеды</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Кофе-брейки</span>
                </li>
              </ul>

              <div class="ticket__price-block">
                <span class="ticket__price">40 000 ₽</span>
                <span class="ticket__price-label">Цена действительна до 1 октября</span>
              </div>
            </a>
          </li>

          <li class="swiper-slide tickets__item">
            <a class="ticket" href="#" target="_blank">
              <h3 class="ticket__title">Секция Управляющая компания</h3>

              <ul class="ticket__list">
                <li class="ticket__list-item">
                  <span class="ticket__label">Посещение любой секции</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Трансфер из аэропорта на площадку форума</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">StandUp — оплачивается отдельно</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Концерт</span>
                </li>
              </ul>

              <div class="ticket__price-block">
                <span class="ticket__price">25 000 ₽</span>
                <span class="ticket__price-label">Цена действительна до 1 октября</span>
              </div>
            </a>
          </li>

          <li class="swiper-slide tickets__item">
            <a class="ticket" href="#" target="_blank">
              <h3 class="ticket__title">Секция Продажи</h3>

              <ul class="ticket__list">
                <li class="ticket__list-item">
                  <span class="ticket__label">Посещение любой секции</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Трансфер из аэропорта на площадку форума</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">StandUp — оплачивается отдельно</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Концерт</span>
                </li>
              </ul>

              <div class="ticket__price-block">
                <span class="ticket__price">25 000 ₽</span>
                <span class="ticket__price-label">Цена действительна до 1 октября</span>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>