<section class="tickets" id="tickets">
  <div class="container">
    <div class="tickets__inner">
      <h2 class="tickets__title section-title js-animation">Билеты</h2>

      <div class="swiper tickets__slider js-animation">
        <ul class="swiper-wrapper tickets__list">
          <li class="swiper-slide tickets__item">
            <a class="ticket" href="#" target="_blank">
              <h3 class="ticket__title">Вездеход VIP</h3>

              <ul class="ticket__list">
                <li class="ticket__list-item">
                  <span class="ticket__label">Посещение любых мероприятий деловой программы</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Места в первом ряду</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Специальная стойка регистрации</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Квиз «Мозги в каске»</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">StandUp</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Музыкальное шоу</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Трансфер из аэропорта на площадку форума</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Обеды в отдельном ресторане</span>
                </li>
                <li class="ticket__list-item">
                  <span class="ticket__label">Кофе-брейки</span>
                </li>
              </ul>

              <div class="ticket__price-block">
                <span class="ticket__price">99 000 ₽</span>
                <span class="ticket__price-label">Цена действительна до&nbsp;1&nbsp;октября</span>
              </div>

              <div class="ticket__buy ticket__buy--red">Купить</div>
            </a>
          </li>

          <li class="swiper-slide tickets__item">
            <a class="ticket" href="#" target="_blank">
              <h3 class="ticket__title">Вездеход</h3>

              <ul class="ticket__list">
                <li class="ticket__list-item">
                    <span class="ticket__label">Посещение любых мероприятий деловой программы</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Квиз «Мозги в каске»</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">StandUp</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Музыкальное шоу</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Трансфер из аэропорта на площадку форума</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Обеды</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Кофе-брейки</span>
                </li>
              </ul>

              <div class="ticket__price-block">
                <span class="ticket__price">70 000 ₽</span>
                <span class="ticket__price-label">Цена действительна до&nbsp;1&nbsp;октября</span>
              </div>

              <div class="ticket__buy ticket__buy--orange">Купить</div>
            </a>
          </li>

          <li class="swiper-slide tickets__item">
            <a class="ticket" href="#" target="_blank">
              <h3 class="ticket__title">Секция «Управляющая компания»</h3>

              <ul class="ticket__list">
                <li class="ticket__list-item">
                    <span class="ticket__label">Посещение мероприятий секции «Управляющая компания»</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Конференция</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Лекции хедлайнеров</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Квиз «Мозги в каске»</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">StandUp</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Музыкальное шоу</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Трансфер из аэропорта на площадку форума</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Обеды</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Кофе-брейки</span>
                </li>
              </ul>

              <div class="ticket__price-block">
                <span class="ticket__price">35 000 ₽</span>
                <span class="ticket__price-label">Цена действительна до&nbsp;1&nbsp;октября</span>
              </div>

              <div class="ticket__buy ticket__buy--blue">Купить</div>
            </a>
          </li>

          <li class="swiper-slide tickets__item">
            <a class="ticket" href="#" target="_blank">
              <h3 class="ticket__title">Секция «Продажи»</h3>

              <ul class="ticket__list">
                <li class="ticket__list-item">
                    <span class="ticket__label">Посещение мероприятий секции «Продажи»</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Конференция</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Лекции хедлайнеров</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Квиз «Мозги в каске»</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">StandUp</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Музыкальное шоу</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Трансфер из аэропорта на площадку форума</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Обеды</span>
                </li>
                <li class="ticket__list-item">
                    <span class="ticket__label">Кофе-брейки</span>
                </li>
              </ul>

              <div class="ticket__price-block">
                <span class="ticket__price">35 000 ₽</span>
                <span class="ticket__price-label">Цена действительна до&nbsp;1&nbsp;октября</span>
              </div>

              <div class="ticket__buy ticket__buy--purple">Купить</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>