{{#extend "layout"}}
{{#content "main"}}

{{> index/intro }}

{{> index/about }}

{{!-- <section class="container">
  <div class="modal-hotels__map js-contacts-map" style="height: 100vh; width: 100%;" data-lat=""></div>
</section> --}}

{{> index/speakers }}

{{> index/thematic-sections }}

{{!-- {{> index/program }} --}}

{{> index/tickets }}

{{> index/hotels-reservation }}

{{> index/promises }}

{{!-- {{> index/organizers }} --}}

{{> index/map }}

{{> index/partners }}

{{> index/about-past }}

{{> index/news-preview }}

{{> index/ticket-reservation }}

{{> common/modal-form }}

{{> common/modal-video }}

{{> common/modal-hotels }}

{{> index/sticky-header }}

{{/content}}
{{/extend}}