{{#extend "layout"}}
{{#content "main"}}
<div class="container news-item-page">
  <section class="news-item-page__news-item">
    <div class="news-item-page__inner">
      <h2 class="section-title news-item-page__title js-animation">Как дворы новостроек влияют на развитие <br>
        интеллекта
        рассказали в
        новом подкасте <br>Девелопмент клуб</h2>

      <time class="news-item-page__date" datetime="">20 сентября</time>

      <div class="news-item-page__subtitle">
        <p>Новый подход к внедрению детских площадок во дворы позволит сделать детей умнее. По словам героев выпуска
          создать инновационную игровую зону может в своем жилом комплексе любой застройщик: нужно лишь правильно
          подобрать оборудование.</p>
      </div>

      <div class="news-item-page__image-wrapper">
        <img class="news-item-page__image" src="img/content/album/album-1.jpg"
          alt="Как дворы новостроек влияют на развитие интеллекта рассказали в новом подкасте Девелопмент клуб">
      </div>

      <div class="news-item-page__text">
        О собственной разработанной методологии в видеоподкасте рассказали Виктория Ефимова, психофизиолог,
        руководитель клиники «Прогноз» и центра «Логопрогноз» и Татьяна Слушко-Цапинская, директор департамента по
        связям с общественностью ГК «Интеко».
        <br />
        <br />
        Посмотреть видеоподкаст можно по <a href="#">ссылке</a>.
        <br />
        <br />
        Его ведущими стали Илья Пискулин, основатель форума недвижимости «Движение», генеральный директор
        архитектурно-брендинговой компании DeVision и Анастасия Кременчук, главный редактор
        информационно-аналитических порталов Arendator.ru, Urbanus.ru.
      </div>

      {{> common/share-links }}
    </div>
  </section>

  <section class="other-news" id="other-news">
    <div class="other-news__inner">
      <h2 class="other-news__title">Другие новости</h2>

      <div class="swiper other-news__slider">
        <ul class="swiper-wrapper other-news__slider-wrapper">
          {{#each otherNews }}
          <li class="swiper-slide other-news__item">
            <a class="news-preview-item__wrapper-link" title="Открыть страницу с новостью" href="#">
              <div class="news-preview-item__image-wrapper">
                <img class="news-preview-item__image" src="img/content/album/album-1.jpg" alt="{{this.name}}">
              </div>

              <time class="news-preview-item__date" datetime="{{this.dateTime}}">{{this.date}}</time>

              <h3 class="news-preview-item__title">{{this.title}}</h3>

              <div class="link-with-arrow news-preview-item__link">
                <span class="link-with-arrow__label">Читать</span>
                <svg class="link-with-arrow__icon">
                  <use xlink:href="#link-arrow">
                </svg>
              </div>
            </a>
          </li>
          {{/each}}
        </ul>
      </div>

      <a class="link-with-arrow news-preview__all-news-link" href="#">
        <span class="link-with-arrow__label">Все новости</span>
        <svg class="link-with-arrow__icon">
          <use xlink:href="#link-arrow">
        </svg>
      </a>
    </div>
  </section>
</div>
{{/content}}
{{/extend}}