<div class="hystmodal modal modal-hotels" id="hotels" aria-hidden="true">
  <div class="modal__overlay"></div>

  <div class="hystmodal__wrap modal__wrapper">
    <div class="hystmodal__window modal__content modal-hotels__content" role="dialog" aria-modal="true">
      <button data-hystclose class="hystmodal__close modal__close" title="Закрыть">
        <svg class="modal__close-icon">
          <use xlink:href="#cross">
        </svg>
      </button>

      <div class="modal-hotels__map" id="hotelsMap"></div>
    </div>
  </div>
</div>