<div class="share-links">
  <span class="share-links__label">Поделиться</span>

  <ul class="share-links__list">
    <li class="share-links__item">
      <a class="share-links__link" href="https://www.facebook.com/sharer/sharer.php?u=#url"
        title="Поделиться в Facebook">
        <svg class="share-links__link-icon">
          <use xlink:href="#facebook">
        </svg>
      </a>
    </li>
    <li class="share-links__item">
      <a class="share-links__link" href="https://t.me/share/url?url={url}&text={text}" title="Поделиться в Telegram">
        <svg class="share-links__link-icon">
          <use xlink:href="#telegram">
        </svg>
      </a>
    </li>
    <li class="share-links__item">
      <a class="share-links__link" href="#" title="Поделиться в Instagram">
        <svg class="share-links__link-icon">
          <use xlink:href="#instagram">
        </svg>
      </a>
    </li>
  </ul>
</div>