.album {
  position: relative;
  z-index: 2;

  @include breakpoint(tablet) {
    margin-left: 5rem;
  }

  @include breakpoint(small-tablet) {
    margin-left: 0;
    margin-right: 5rem;
  }
  @include breakpoint(mobile) {
    margin-right: 3rem;
  }

  &__year {
    position: absolute;
    top: -4rem;
    left: 0;

    display: inline-block;

    font-size: var(--fs-t2);
    font-weight: 600;
    line-height: 1.2;
    @include titleFF;

    @include breakpoint(tablet) {
      top: -3.6rem;
    }
    @include breakpoint(small-tablet) {
      top: -3.2rem;
    }
    @include breakpoint(mobile) {
      top: -2.8rem;
    }
  }

  &__slider {
    overflow: hidden;
  }

  &__image-wrapper {
    @include imageWrapper(16, 9);

    &:hover {
      .album__overlay {
        background-color: rgba(0, 0, 0, 0.3);
      }
      .album__open-btn-icon {
        transform:  scale(1.05);
      }
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s ease;
  }

  &__open-btn {
    @include centeredAbsolute();

    display: flex;
    justify-content: center;
    align-items: center;

    width: 18.5rem;
    height: 12rem;

    cursor: pointer;

    &::before,
    &::after {
      content: '';

      position: absolute;
      z-index: -1;

      width: 17.7rem;
      height: 17.7rem;

      background-repeat: no-repeat;
      background-size: 100% 100%;

      pointer-events: none;
    }

    &::before {
      left: 0;
      bottom: 0;

      background-image: url(../img/icons/youtube-arrow-bottom.svg)
    }

    &::after {
      top: 0;
      right: 0;

      background-image: url(../img/icons/youtube-arrow-top.svg)
    }

    @include breakpoint(tablet) {
      width: 12.5rem;
      height: 8rem;

      &::before,
      &::after {
        width: 12.7rem;
        height: 12.7rem;
      }
    }
    @include breakpoint(small-tablet) {
      width: 10rem;
      height: 6rem;

      &::before,
      &::after {
        width: 9rem;
        height: 9rem;
      }
    }
    @include breakpoint(mobile) {
    }
  }

  &__open-btn-icon {
    width: 5.1rem;
    height: 3.7rem;

    transition: transform 0.3s ease;

    @include breakpoint(tablet) {
      width: 4rem;
      height: 3rem;
    }
    @include breakpoint(small-tablet) {
      width: 3rem;
      height: 2.2rem;
    }
  }
}

.album-scroll {

  position: absolute;
  top: 0;
  left: -5.6rem;
  z-index: 25;

  height: 100%;

  @include breakpoint(tablet) {
    left: -3.6rem;
  }
  @include breakpoint(small-tablet) {
    left: unset;
    right: -3.6rem;
  }
  @include breakpoint(mobile) {
    right: -2rem;
  }

  &.noUi-target {
    width: 0.2rem;

    background-color: #94A9D0;
    box-shadow: none;
    border: none;
  }

  .noUi-handle {
    bottom: -2.25rem;
    right: -2.2rem;

    width: 4.5rem;
    height: 4.5rem;

    border-radius: 50%;
    background-color: #C82030;
    border: none;
    box-shadow: none;

    cursor: pointer;
    
    transition: background-color 0.3s ease;

    &:hover,
    &:focus {
      background-color: var(--accent-color);
    }

    &::before,
    &::after {
      content: none;
    }

    @include breakpoint(tablet) {
      bottom: -1.75rem;
      right: -1.7rem;

      width: 3.5rem;
      height: 3.5rem;

      background-size: 1.2rem 2rem;
    }
    @include breakpoint(mobile) {
      bottom: -1.25rem;
      right: -1.2rem;

      width: 2.5rem;
      height: 2.5rem;

      background-size: 1rem 1.8rem;
    }
  }

  .noUi-touch-area {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      transform: scale(1);

      @include breakpoint(tablet) {
        transform: scale(0.8);
      }
      @include breakpoint(mobile) {
        transform: scale(0.6);
      }
    }

    #arr-bottom,
    #arr-top {
      transition: transform 0.3s ease;
    }

    #arr-top {
      &:hover {
        transform: scale(1.02) translateY(-1px);
      }
    }

    #arr-bottom {
      &:hover {
        transform: scale(1.02) translateY(1px);
      }
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: -3rem;
    transform: translateY(-50%) rotate(-90deg);

    display: block;

    width: max-content;

    font-size: var(--fs-tx2);
    line-height: 1.2;
    font-weight: 600;
    color: #94A9D0;
    @include titleFF;

    @include breakpoint(small-tablet) {
      left: -2rem;
    }
  }
}