.promises {
  padding-top: 10.8rem;

  background-color: #A0B2E0;

  @include breakpoint(tablet) {
    padding-top: 6rem;
  }
  @include breakpoint(small-tablet) {
    padding-top: 4rem;
  }

  &__next-section-btn {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
  
  &__title {
    margin-bottom: 12rem;

    @include breakpoint(tablet) {
      margin-bottom: 8rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 6rem;
    }
    @include breakpoint(mobile) {
      margin-bottom: 4rem;
    }
  }

  &__slider {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__container {
    padding-bottom: 19.8rem;

    @include breakpoint(tablet) {
      padding-bottom: 6rem;
    }
    @include breakpoint(small-tablet) {
      padding-bottom: 6rem;
    }
    @include breakpoint(mobile) {
      padding-bottom: 6rem;
    }
  }
  
  &__list {
    display: flex;
  }

  &__list-item {
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    padding-right: 10rem;
    @include breakpoint(tablet) {
      padding-right: 6rem;
    }
    @include breakpoint(small-tablet) {
      padding-right: 4rem;
    }
    @include breakpoint(mobile) {
      padding-right: 2rem;
    }
  }

  &__slide-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
}

.promise {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  @include breakpoint(tablet) {
    align-items: flex-start;
  }
  @include breakpoint(small-tablet) {
    flex-direction: column;
  }

  &__content {
    flex: 0 0 50%;

    padding-left: 12rem;

    @include breakpoint(tablet) {
      flex-basis: 60%;
      padding-left: 6rem;
    }
    @include breakpoint(small-tablet) {
      flex-basis: auto;

      margin-bottom: 3rem;
    }
  }

  &__title-wrapper {
    position: relative;

    font-size: var(--fs-h3);
    line-height: 1.2;
    font-weight: 600;
    @include titleFF;
  }

  &__title-number {
    display: block;

    position: absolute;
    top: 0;
    left: -4rem;

    @include breakpoint(small-tablet) {
      left: -2.5rem;
    }
  }

  &__title {
    margin-bottom: 3.7rem;

    @include breakpoint(tablet) {
      margin-bottom: 3rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 2.6rem;
    }
    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }
  }

  &__description {
    font-size: var(--fs-tx1);
    line-height: 1.2;
    color: var(--content-color);
  }

  &__image-block {
    flex: 0 0 50%;

    @include breakpoint(tablet) {
      flex-basis: 40%;
    }
    @include breakpoint(small-tablet) {
      flex-basis: auto;

      max-width: 40rem;
    }
  }
}
