<section class="about" id="about">

  <div class="about__rock">
    {{!-- <img class="about__rock-circles-back js-animation" src="img/content/background/rock-circles-back.svg" alt="Фон"> --}}

    <picture>
      {{!-- <source srcset="img/content/background/rock.webp" type="image/webp"> --}}
      <img class="about__bg-iamge" src="img/content/background/Dvizh_mountains.png" alt="Горы">
    </picture>

    {{!-- <img class="about__rock-circles-front js-animation" src="img/content/background/rock-circles-front.svg" alt="Фон"> --}}
  </div>

  {{> common/slogan-marquee }}

  <div class="container">

    <div class="about__inner">

      <div class="about__partner">
        <span class="about__partner-label">Партнер форума</span>
        <a class="about__partner-link"
          href="https://profitbase.ru/?utm_source=yandex&utm_medium=cpc&utm_campaign=search_46947364_poisk__profitbase_vital__zaprosy&utm_content=cifrovizacia&utm_term=профитбейс_&roistat=direct11_search_8216564127_профитбейс&roistat_referrer=none&roistat_pos=premium_1&yclid=5989307757422500513"
          target="_blank">
          <img class="about__partner-logo" src="img/Profitbase Logo.svg" alt="Партнер мероприятия">
        </a>
      </div>

      <h2 class="section-title about__title js-animation">Одно пространство&nbsp;- <br> множество измерений!</h2>

      <div class="about__content">

        <div class="about__two-columns">
          <div class="about__album">
            {{> index/album }}
          </div>

          <div class="about__text">
            <div class="about__paragraphs">
              <p class="about__paragraph">«Движение» — это 5 тематических секций, конференция Строителей России, традиционная конференция Сбера, SKOLKOVO Day от Московской школы управления СКОЛКОВО, большой семинар по продажам, а также церемония награждения федеральной премии Urban Awards, которая в 2022 году пройдет на площадке форума.</p>
            </div>

            <div class="about__digits">
              <h2 class="section-title js-animation">Итоги мероприятий<br>2020 и 2021</h2>

              <ul class="about__digits-list">
                <li class="about__digits-item">
                  <span class="about__digit">1700+</span>
                  <span class="about__digit-label">участников</span>
                </li>
                <li class="about__digits-item">
                  <span class="about__digit">135</span>
                  <span class="about__digit-label">спикеров</span>
                </li>
                <li class="about__digits-item">
                  <span class="about__digit">142</span>
                  <span class="about__digit-label">выступления</span>
                </li>
                <li class="about__digits-item">
                  <span class="about__digit">9,2</span>
                  <span class="about__digit-label">индекс лояльности участников</span>
                </li>
                <li class="about__digits-item">
                  <span class="about__digit">300</span>
                  <span class="about__digit-label">компаний</span>
                </li>
                <li class="about__digits-item">
                  <span class="about__digit">85%</span>
                  <span class="about__digit-label">посещаемость мероприятий</span>
                </li>
              </ul>

              <div class="about__megaphone">
                <img class="about__megaphone-arr-top js-animation" src="img/content/background/megaphone-arr-top.svg"
                  alt="About image">

                <img class="about__megaphone-image js-animation" src="img/content/background/megaphone.png"
                  alt="About image">

              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="about__from-intro">
        <div class="about__from-intro-title">
          <img class="about__from-intro-image" src="img/3d2.png" alt="3д">
          <h2 class="section-title js-animation">Форум <br> в&nbsp;новом объёме</h2>
        </div>
      </div>

      <div class="about__from-intro">
        <p class="about__from-intro-text">В 2022 году «Движение» пройдёт в 3-й раз. И, поскольку, у нас есть комбинация цифры 3 и буквы Д, которые образуют 3Д, мы подумали, что будет круто поговорить не о площадях, а о пространстве, и уйти в глубину. В секциях будем обсуждать среду в жилых комплексах, культуру проживания, атмосферу в компании и отделе продаж, управление командой и мотивацию сотрудников.</p>
      </div>

      <div class="about__footer">
        {{!-- <div class="about__two-columns">
          <p class="about__footer-title js-animation">«Движение» пройдет одновременно с зимними Олимпийскими играми
            в Пекине </p>
          <p class="about__footer-subtitle js-animation">По древней традиции, на время Олимпиады прекращаются войны,
            а значит, и конкуренция на форуме остановится. И все девелоперы объединятся, чтобы стать лучше!</p>
        </div> --}}
      </div>
    </div>
  </div>
</section>