<section class="organizers" id="organizers">
  <div class="container">
    <h2 class="section-title organizers__title-partners js-animation">Информационные <br /> партнеры</h2>

    <div class="organizers__general-partner">
      <a class="organizers__general-partner-link" title="Перейти на сайт" href="#" target="blank">
        <img class="organizers__partner-logo" src="img/content/partners/риа недвижимость.png" alt="Партнер"
          loading="lazy">
      </a>

      <span class="organizers__general-partner-label">Генеральный <br /> информационный <br /> партнёр</span>
    </div>

    <div class="organizers__partners-grid">
      <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
        <img src="img/content/partners/logo_ЕРЗ.png" alt="Партнер" class="organizers__partner-logo" loading="lazy">
      </a>

      <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
        <img src="../../../img/content/partners/novostroy.png" alt="Партнер" class="organizers__partner-logo"
          loading="lazy">
      </a>

      <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
        <img src="../../../img/content/partners/digest.png" alt="Партнер" class="organizers__partner-logo"
          loading="lazy">
      </a>

      <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
        <img src="../../../img/content/partners/russian-reality.png" alt="Партнер" class="organizers__partner-logo"
          loading="lazy">
      </a>

      <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
        <img src="../../../img/content/partners/bnru_bn_vertikal.png" alt="Партнер" class="organizers__partner-logo"
          loading="lazy">
      </a>

      <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
        <img src="../../../img/content/partners/интерфакс.png" alt="Партнер" class="organizers__partner-logo"
          loading="lazy">
      </a>

    </div>
  </div>
</section>