<section class="organizers" id="organizers">
  <div class="container">
    <h2 class="section-title organizers__title-partners js-animation">Информационные <br /> партнеры</h2>

    <div class="organizers__partners-grid js-animation">
      <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
        <img src="img/content/partners/риа недвижимость.png" alt="Партнер" class="organizers__partners-item"
          loading="lazy">
      </a>

      <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
        <img src="img/content/partners/logo_ЕРЗ.png" alt="Партнер" class="organizers__partners-item" loading="lazy">
      </a>

      <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
        <img src="img/content/partners/novostroy-m.svg" alt="Партнер" class="organizers__partners-item" loading="lazy">
      </a>

      <a class="organizers__partners-link" title="Перейти на сайт" href="#" target="blank">
        <img src="img/content/partners/RussianRealty.svg" alt="Партнер" class="organizers__partners-item"
          loading="lazy">
      </a>

    </div>
  </div>
</section>