<section class="sticky-header">
  <div class="container">
    <div class="sticky-header__inner">
      <div class="sticky-header__text-block">
        <span class="sticky-header__text">До главного события для девелоперов СНГ</span>

        <div class="sticky-header__time-container">
          <span class="sticky-header__time" data-time="01.06.2022 00:00:00"></span>
          <div class="sticky-header__time-labels">
            <span class="sticky-header__time-label sticky-header__time-label_days"></span>
            <span class="sticky-header__time-label sticky-header__time-label_hours"></span>
          </div>
        </div>
      </div>

      <a class="sticky-header__btn" href="#tickets">
        <svg class="sticky-header__btn-bg" width="281" height="57" viewBox="0 0 281 57" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="1" y="1" width="279" height="54.6667" rx="1" stroke="url(#paint0_linear)" stroke-width="2"/>
        <defs>
        <linearGradient id="paint0_linear" x1="-96.656" y1="28.8889" x2="294.302" y2="-83.8926" gradientUnits="userSpaceOnUse">
        <stop offset="0.0190612" stop-color="#E31C24" stop-opacity="0"/>
        <stop offset="0.538823" stop-color="#E31C24" stop-opacity="0.415053"/>
        <stop offset="1" stop-color="#E31C24"/>
        </linearGradient>
        </defs>
        </svg>
        Купить билет</a>
    </div>
  </div>
</section>