<section class="thematic-sections">
  <div class="container">
    <div class="thematic-sections__inner">
      <h2 class="section-title thematic-sections__title js-animation">5 ТЕМАТИЧЕСКИХ <br> СЕКЦИЙ</h2>

      <div class="swiper thematic-sections__slider js-animation">
        <ul class="swiper-wrapper thematic-sections__list">
          <li class="swiper-slide thematic-sections__item">
            <div class="thematic-section">
				<img class="thematic-section__image" src="img/thematic-sections/ts-1.png" alt="Тематическая секция">
              <h3 class="thematic-section__title">Управление</h3>
              <button class="thematic-section__btn" type="button">Подробнее</button>
            </div>

            <div class="thematic-section__description">
              <div class="thematic-section__description-overlay"></div>
              <div class="thematic-section__description-content">
                {{!-- <button class="thematic-section__description-close" type="button" title="Закрыть">
                  <svg class="thematic-section__description-close-icon">
                    <use xlink:href="#cross">
                  </svg>
                </button> --}}
                
                <div class="thematic-section__description-container">
                  <p class="thematic-section__description-text">Перед вторым «Движением» мы думали ослабить критерии посещения форума в 2022 году. Но, проанализировав вашу обратную связь, поняли, как вы цените то, что в зале практически все — застройщики. Поэтому на третьем «Движении» отбор будет ещё жестче. Мы оставим за собой право лишать участника аккредитации прямо на мероприятии, если он не является сотрудником девелоперской компании и обманул нас при регистрации.</p>
                </div>

                <span class="thematic-section__description-title">Управление</span>
              </div>
            </div>
          </li>

          <li class="swiper-slide thematic-sections__item">
            <div class="thematic-section">
				<img class="thematic-section__image" src="img/thematic-sections/ts-2.png" alt="Тематическая секция">
              <h3 class="thematic-section__title">Продажи</h3>
              <button class="thematic-section__btn" type="button">Подробнее</button>
            </div>

            <div class="thematic-section__description">
              <div class="thematic-section__description-overlay"></div>
              <div class="thematic-section__description-content">

                <div class="thematic-section__description-container">
                  <p class="thematic-section__description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui maxime dolorem aut cumque voluptates modi eius excepturi ipsa facere ducimus.</p>
                  <p class="thematic-section__description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui maxime dolorem aut cumque voluptates modi eius excepturi ipsa facere ducimus.</p>
                  <p class="thematic-section__description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui maxime dolorem aut cumque voluptates modi eius excepturi ipsa facere ducimus.</p>
                  <p class="thematic-section__description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui maxime dolorem aut cumque voluptates modi eius excepturi ipsa facere ducimus.</p>
                </div>

                <span class="thematic-section__description-title">Продажи</span>
              </div>
            </div>
          </li>

          <li class="swiper-slide thematic-sections__item">
            <div class="thematic-section">
				<img class="thematic-section__image" src="img/thematic-sections/ts-3.png" alt="Тематическая секция">
              <h3 class="thematic-section__title">Маркетинг</h3>
              <button class="thematic-section__btn" type="button">Подробнее</button>
            </div>

            <div class="thematic-section__description">
              <div class="thematic-section__description-overlay"></div>
              <div class="thematic-section__description-content">

                <div class="thematic-section__description-container">
                  <p class="thematic-section__description-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. At consectetur vero perspiciatis. Sint, porro aliquid assumenda vitae eveniet, quidem, at quis nostrum ea neque molestias sequi necessitatibus fuga vel nobis! Dolore debitis nihil assumenda minima quam modi sed ratione adipisci, aperiam nobis fugiat autem, possimus iste quaerat, aliquid magnam fugit et animi voluptatem. Ea voluptates sed et nobis, minima est minus ipsum consequatur necessitatibus iste perspiciatis quam aliquid exercitationem, provident doloremque odit autem recusandae magni aperiam eveniet, quis consequuntur quos fugit! Dolorem, rem ex non maxime enim molestias rerum, perferendis quo quos, iste tempore. Eveniet beatae hic autem laboriosam reiciendis.</p>
                </div>

                <span class="thematic-section__description-title">Маркетинг</span>
              </div>
            </div>
          </li>

          <li class="swiper-slide thematic-sections__item">
            <div class="thematic-section">
				<img class="thematic-section__image" src="img/thematic-sections/ts-4.png" alt="Тематическая секция">
              <h3 class="thematic-section__title">Управляющая компания</h3>
              <button class="thematic-section__btn" type="button">Подробнее</button>
            </div>

            <div class="thematic-section__description">
              <div class="thematic-section__description-overlay"></div>
              <div class="thematic-section__description-content">

                <div class="thematic-section__description-container">
                  <p class="thematic-section__description-text">Перед вторым «Движением» мы думали ослабить критерии посещения форума в 2022 году. Но, проанализировав вашу обратную связь, поняли, как вы цените то, что в зале практически все — застройщики. Поэтому на третьем «Движении» отбор будет ещё жестче. Мы оставим за собой право лишать участника аккредитации прямо на мероприятии, если он не является сотрудником девелоперской компании и обманул нас при регистрации.</p>
                </div>

                <span class="thematic-section__description-title">Управляющая компания</span>
              </div>
            </div>
          </li>

          <li class="swiper-slide thematic-sections__item">
            <div class="thematic-section">
				<img class="thematic-section__image" src="img/thematic-sections/ts-5.png" alt="Тематическая секция">
              <h3 class="thematic-section__title">Продукт</h3>
              <button class="thematic-section__btn" type="button">Подробнее</button>
            </div>

            <div class="thematic-section__description">
              <div class="thematic-section__description-overlay"></div>
              <div class="thematic-section__description-content">
                
                <div class="thematic-section__description-container">
                  <p class="thematic-section__description-text">Перед вторым «Движением» мы думали ослабить критерии посещения форума в 2022 году. Но, проанализировав вашу обратную связь, поняли, как вы цените то, что в зале практически все — застройщики. Поэтому на третьем «Движении» отбор будет ещё жестче. Мы оставим за собой право лишать участника аккредитации прямо на мероприятии, если он не является сотрудником девелоперской компании и обманул нас при регистрации.</p>
                </div>

                <span class="thematic-section__description-title">Продукт</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>