@keyframes horizontal-skew {
  0% {
    perspective: 100;
    transform: rotateY(-8deg);
  }
  50% {
    perspective: 100;
    transform: rotateY(8deg);
  }
  100% {
    perspective: 100;
    transform: rotateY(-8deg);
  }
}

@mixin animation-to-bottom-left {
  opacity: 0;
  transform: translate(50%, -50%);
  transition: opacity 0.8s, transform 0.8s ease;

  &.animated {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@mixin animation-to-top-right {
  opacity: 0;
  transform: translate(-50%, 50%);
  transition: opacity 0.8s, transform 0.8s ease;

  &.animated {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@mixin animation-to-top-left {
  opacity: 0;
  transform: translate(50%, 50%);
  transition: opacity 0.8s, transform 0.8s ease;

  &.animated {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@mixin animation-to-bottom-right {
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.8s, transform 0.8s ease;

  &.animated {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@mixin animation-to-right {
  opacity: 0;
  transform: translateX(-50%);
  transition: opacity 0.8s, transform 0.8s ease;

  &.animated {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@mixin animation-to-left {
  opacity: 0;
  transform: translateX(50%);
  transition: opacity 0.8s, transform 0.8s ease;

  &.animated {
    opacity: 1;
    transform: translate(0, 0);
  }
}