.container {
  position: relative;

  width: 100%;
  height: 100%;

  max-width: calc(var(--max-container-width) + var(--content-padding-left) + var(--content-padding-right));
  margin: 0 auto;
  padding-left: var(--content-padding-left);
  padding-right: var(--content-padding-right);
  @supports (width: max(20vw, 100px)) {
    padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding-left));
    padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding-right));
  }
}

.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.page-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.section-title {
  position: relative;

  display: inline-block;

  font-size: 7.2rem;
  line-height: 1.2;
  font-weight: 500;
  @include titleFF;
  text-transform: uppercase;

  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: -2rem;
    width: 11.8rem;
    height: 7.6rem;
    z-index: -1;

    background-image: url(../img/icons/red-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;

    pointer-events: none;
  }
}