.container {
  position: relative;

  width: 100%;
  height: 100%;

  max-width: calc(var(--max-container-width) + var(--content-padding-left) + var(--content-padding-right));
  margin: 0 auto;
  padding-left: var(--content-padding-left);
  padding-right: var(--content-padding-right);
  @supports (width: max(20vw, 100px)) {
    padding-left: max(env(safe-area-inset-left, 1.4rem), var(--content-padding-left));
    padding-right: max(env(safe-area-inset-right, 1.4rem), var(--content-padding-right));
  }

  &--wide {
    padding-left: var(--wide-content-padding-left);
    padding-right: var(--wide-content-padding-right);
  }
}

.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  background-color: #a0b2e0;
}

.page-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;

  overflow: hidden;
}

.page-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.section-title {
  // animations
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.8s, opacity 0.8s ease;
  // animations

  position: relative;

  display: inline-block;

  width: fit-content;

  font-size: var(--fs-h2);
  line-height: 1.2;
  font-weight: 500;
  @include titleFF;
  text-transform: uppercase;

  z-index: 2;

  &::before {
    // animations
    opacity: 0;
    transform: translate(-100%, 100%);
    transition: transform 0.8s 0.8s, opacity 0.8s 0.8s ease;
    // animations

    content: '';
    position: absolute;
    top: 0;
    right: -2rem;
    width: 1.58em;
    height: 1em;
    z-index: -1;

    background-image: url(../img/icons/red-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;

    pointer-events: none;

    @include breakpoint(tablet) {
      right: -1rem;
    }
  }

  &.animated {
    transform: translateX(0);
    opacity: 1;

    &::before {
      transform: translate(0, 0);
      opacity: 1;
    }
  }
}