.about-past {
  padding-top: 5.6rem;
  padding-bottom: 8.6rem;
  // background: linear-gradient(0deg, #A0B2E0 0%, #FFFFFF 100%); // Если вернется карта
  background: linear-gradient(0deg,#e1e0e7 0%,#fff 100%);

  @include breakpoint(tablet) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include breakpoint(small-tablet) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.about-past__slider {
  // animations
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.8s, transform 0.8s ease;
  // animations
  
  position: relative;
  margin-top: 13rem;

  margin-right: 10rem;

  @include breakpoint(tablet) {
    margin-top: 8rem;
    margin-right: 1rem;
    margin-left: 1rem;
  }

  @include breakpoint(small-mobile) {
    margin-top: 5rem;
  }

  &.animated {
    opacity: 1;
    transform: translateX(0);
  }
}

.about-past__slider-container {
  padding: 1rem;
  @include breakpoint(small-tablet) {
    overflow: initial;
  }
}

.about-past__item {
  position: relative;
  z-index: 2;
}

.about-past {
  .swiper-slide-active {
    .about-past__slide-full {
      top: 0;
      left: 0;
      right: unset;
    }
    .about-past__slide-overlay {
      transform: translate(-200%, 200%);
    }
  }
}

.about-past__slide-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 4rem 2.4rem 2rem;
  height: 100%;

  background: #FFFFFF;
  border-radius: .4rem;
  box-shadow: 0 0.4rem 1rem #92a2ca;

  @include breakpoint(tablet) {
    padding: 3rem;
  }
  @include breakpoint(small-tablet) {
    padding: 2rem;
    min-height: 28rem;
  }
}

.about-past__slide-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(200%, 200%);

  background-color: white;
  width: 200%;
  height: 0;
  padding-bottom: 200%;
  border-radius: 50%;

  transition: transform 0.5s ease;

  pointer-events: none;

  &.animated {
    transform: translate(-50%, -50%) !important;
  }
}

.about-past__slide-full {
  opacity: 0;
  visibility: hidden;
  z-index: 10;

  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;

  padding: 4rem 2.4rem 2rem;
  height: 100%;
  width: calc(200% + 20px);

  border-radius: .4rem;

  overflow: hidden;

  @include breakpoint(tablet) {
    padding: 3rem;
  }
  @include breakpoint(small-tablet) {
    padding: 2rem;
    min-height: 28rem;

    width: 100%;
  }

  &_opened {
    opacity: 1;
    visibility: visible;
  }
}

.about-past__slide-full-content {
  opacity: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  width: 100%;
  height: 100%;

  transition: opacity 0.3s 0.5s ease;

  &.visible {
    opacity: 1;
  }
}

.about-past__slide-full-close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  &:focus,
  &:hover {
    .about-past__slide-full-close-icon {
      stroke: var(--accent-color);
    }
  }

  @include breakpoint(small-tablet) {
    top: 0.3rem;
    right: 0.3rem;
  }
}

.about-past__slide-full-close-icon {
  width: 2.1rem;
  height: 2.1rem;

  fill: none;
  stroke: var(--text-color);
  
  transition: stroke 0.3s ease;

  @include breakpoint(small-tablet) {
    width: 1.3rem;
    height: 1.3rem;
  }
}

.about-past__slide-head-mark {
  position: relative;
  top: 0.2rem;

  justify-self: flex-end;

  width: 3.7rem;
  height: 3.1rem;

  @include breakpoint(tablet) {
    width: 3rem;
    height: 2.5rem;
  }
  @include breakpoint(small-tablet) {
    width: 2.7rem;
    height: 2.3rem;
  }
  @include breakpoint(small-tablet) {
    width: 2.7rem;
    height: 2.3rem;
  }
}

.about-past__slide-head-mark {
  &--style-1 {
    fill: #E31C24;
  }

  &--style-2 {
    fill: #EC8B24;
  }

  &--style-3 {
    fill: #009F93;
  }
}

.about-past__slide-title {
  font-weight: 600;
  font-size: var(--fs-t2);
  line-height: 1.2;
  color: var(--content-color);
  @include titleFF;
}

.about-past__slide-description {
  height: 16rem;
  overflow-y: scroll;

  @include customScrollbar();
}

.about-past__slide-description-text {
  padding-right: 2rem;
  font-size: var(--fs-tx2);
  line-height: 1.1;
  color: var(--content-color);

  @include flexRowGap(0.6rem);

  @include breakpoint(tablet) {
    padding-right: 1.5rem;
  }
  @include breakpoint(small-tablet) {
    padding-right: 1rem;
  }
}

.about-past__bnt-read-completely {
  font-weight: 600;
  font-size: var(--fs-label);
  line-height: 1.2;
  text-transform: uppercase;
  padding: 1.8rem 0;
  margin-bottom: 3rem;

  transition: color 0.3s ease;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.about-past__slide-content {
  display: grid;
  grid-template-columns: 5.6rem auto;
  grid-gap: 2rem;
  width: 100%;
  margin-top: 0.5rem;

  @include breakpoint(tablet) {
    grid-template-columns: 4rem auto;
  }

  @include breakpoint(small-mobile) {
    grid-template-columns: 3rem auto;
    grid-gap: 1.5rem;
  }
  @include breakpoint(mobile) {
    grid-gap: 1rem;
  }
}

.about-past__slide-content-img {
  width: 100%;
  border-radius: 100%;
  object-fit: cover;
}

.about-past__slide-content-title {
  display: block;

  font-size: var(--fs-t1);
  line-height: 1.2;
  color: var(--content-color);
  margin-bottom: 1rem;
  font-weight: 600;
  @include titleFF;

  @include breakpoint(tablet) {
    margin-bottom: 0.8rem;
  }
  @include breakpoint(small-tablet) {
    margin-bottom: 0.6rem;
  }
}

.about-past__slide-content-subtitle {
  display: block;

  font-size: var(--fs-tx3);
  line-height: 1.2;
  color: var(--content-color);
}

.about-past__btn-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  &:nth-child(1) {
    left: -5rem;
  }

  &:nth-child(2) {
    right: -5rem;
  }

  @include breakpoint(tablet) {
    &:nth-child(1) {
      left: -4.2rem;
    }

    &:nth-child(2) {
      right: -4.2rem;
    }
  }

  @include breakpoint(small-tablet) {
    display: none;
  }
}

.about-past__btn {
  position: relative !important;
  top: 1rem;

  width: 0;
  height: 0;
  border-top: 2.5rem solid transparent;
  border-bottom: 2.5rem solid transparent;

  &:after {
    content: none !important;
  }

  &--prev {
    border-right: 2.5rem solid var(--accent-color);
  }

  &--next {
    border-left: 2.5rem solid var(--accent-color);
  }
}
