.about {
  position: relative;

  background: linear-gradient(0deg, #E9F1F3 0%, #A0B2E0 30%, #E1E0E7 100%);

  padding-top: 9.2rem;
  padding-bottom: 34rem;

  @include breakpoint(small-tablet) {
    padding-top: 6.2rem;
    padding-bottom: 24rem;
  }
  @include breakpoint(mobile) {
    padding-top: 4rem;
    padding-bottom: 16rem;
  }

  &__inner {
    position: relative;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 8.6rem;

    @include breakpoint(tablet) {
      margin-bottom: 6rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 4rem;
    }
  }

  &__title {
    position: relative;

    margin-bottom: 10rem;

    font-size: 2.4rem;
    font-weight: 600;
    @include titleFF;
    text-transform: uppercase;

    @include breakpoint(tablet) {
      margin-bottom: 6rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 4rem;
    }
    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }

    &::after {
      content: '';

      position: absolute;
      bottom: -1.5rem;
      left: 50%;
      transform: translateX(-50%);

      width: 6rem;
      height: 0.3rem;

      background: linear-gradient(90deg, rgba(#E31C24, 0) 0%, #E31C24 100%);

      @include breakpoint(small-tablet) {
        bottom: -1rem;
      }
      @include breakpoint(mobile) {
        bottom: -0.7rem;
      }
    }
  }

  &__subtitle {
    max-width: 54rem;

    font-size: 2.4rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;

    @include breakpoint(tablet) {
      font-size: 2rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 1.6rem;
    }
    @include breakpoint(mobile) {
      font-size: 1.4rem;
    }
  }

  &__title-iamge {
    display: block;
    margin: 2rem auto 8rem;

    max-width: 83rem;

    @include breakpoint(tablet) {
      max-width: 80%;
      margin: 2rem auto 5rem;
    }
  }

  &__content {
    position: relative;
  }

  &__two-columns {
    display: grid;
    grid-template-columns: 58.1rem 67.9rem;
    column-gap: 12rem;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4rem;
    }
    @include breakpoint(small-tablet) {
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }
    @include breakpoint(mobile) {
      grid-template-columns: 1fr;
      row-gap: 2.5rem;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__paragraphs {
    position: relative;

    max-width: 60rem;

    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.1;
    color: var(--text-color);

    z-index: 2;

    @include breakpoint(tablet) {
      font-size: 1.7rem;
    }
    @include breakpoint(mobile) {
      font-size: 1.4rem;
    }
  }

  &__paragraph {
    @include flexRowGap(3rem);

    @include breakpoint(tablet) {
      margin-bottom: 2rem;
    }
  }

  &__megaphone {
    // animations
    opacity: 0;
    transform: translate(-50%, 50%);
    transition: opacity 0.8s, transform 0.8s ease;
    // animations

    flex: 1 1 100%;
    position: relative;

    width: 100%;
    min-height: 40rem;

    pointer-events: none;

    @include breakpoint(mobile) {
      min-height: 30rem;
    }
    @include breakpoint(supersmall-mobile) {
      min-height: 25rem;
    }

    &.animated {
      opacity: 1;
      transform: translate(0, 0);
    }
  }

  &__megaphone-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    right: 0;

    width: 44.6rem;
    height: auto;
    object-fit: contain;
  }

  &__marquee {
    // animations
    opacity: 0;
    // animations

    position: absolute;
    top: 50%;
    left: -84%;

    width: 300%;

    transform: rotate(16.56deg) translate(-20%, -50%);

    &:nth-child(2) {
      transform: rotate(-13.28deg) translate(-20%, -50%);
    }

    @include breakpoint(mobile) {
      left: -100%;
    }

    &.animated {
      transition: opacity 0.8s 0.8s ease;
      opacity: 1;
    }
  }

  &__footer {
    margin-top: 6.9rem;

    @include breakpoint(mobile) {
      margin-top: 4rem;
    }
    @include breakpoint(supersmall-mobile) {
      margin-top: 3rem;
    }
  }

  &__footer-title {
    // animations
    opacity: 0;
    transform: translateY(100%);
    transition: transform 0.8s, opacity 0.8s ease;
    // animations

    font-size: 4.1rem;
    font-weight: 600;
    line-height: 1.2;
    @include titleFF;

    @include breakpoint(tablet) {
      font-size: 2.8rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 2rem;
    }
    @include breakpoint(mobile) {
      font-size: 1.6rem;
    }

    &.animated {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__footer-subtitle {
    // animations
    opacity: 0;
    transform: translateY(100%);
    transition: transform 1s, opacity 1s ease;
    // animations

    align-self: flex-start;

    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;

    @include breakpoint(tablet) {
      font-size: 1.7rem;
    }
    @include breakpoint(mobile) {
      font-size: 1.4rem;
    }

    &.animated {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__bg-iamge {
    position: absolute;
    bottom: 0;
    left: 0;

    object-fit: contain;
    width: 100%;

    pointer-events: none;
  }
}