.about {
  position: relative;

  background: linear-gradient(0deg, #E9F1F3 0.26%, #A0B2E0 30%, #E1E0E7 100%);

  padding-top: 9.2rem;
  padding-bottom: 34rem;

  &__inner {
    position: relative;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 8.6rem;
  }

  &__title {
    flex-shrink: 0;
  }

  &__second-title {
    margin-bottom: 16.1rem;
  }

  &__subtitle {
    flex-basis: 50%;

    margin-bottom: 3rem;

    color: var(--accent-color);
    font-size: 4.1rem;
    font-weight: 600;
    line-height: 1.2;
    @include titleFF;
  }

  &__content {
    position: relative;
  }

  &__two-columns {
    display: grid;
    grid-template-columns: 58.1rem 60rem;
    column-gap: 12rem;
  }

  &__paragraphs {
    position: relative;

    max-width: 60rem;

    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.1;
    color: var(--text-color);

    z-index: 2;
  }

  &__paragraph {
    @include flexRowGap(3rem);
  }

  &__megaphone {
    position: relative;

    width: 100%;
    min-height: 45rem;

    pointer-events: none;
  }

  &__megaphone-image {
    position: absolute;
    right: -7rem;
    bottom: 0;

    min-width: 102.8rem;
    min-height: 58.7rem;
    object-fit: contain;
  }

  &__footer {
    margin-top: 6.9rem;
  }

  &__footer-title {
    font-size: 4.1rem;
    font-weight: 600;
    line-height: 1.2;
    @include titleFF;
  }

  &__footer-subtitle {
    align-self: flex-end;

    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;
  }

  &__bg-iamge {
    position: absolute;
    bottom: 0;
    left: 0;

    object-fit: contain;
    width: 100%;
  }

  &__marquee {
    transform: rotate(16.56deg);

    &:nth-child(2) {
      transform: rotate(-17.28deg);
    }
  }
}