.about {
  position: relative;

  background: linear-gradient(0deg, #E9F1F3 0%, #A0B2E0 30%, #E1E0E7 100%);

  padding-top: 9.2rem;
  padding-bottom: 34rem;

  @include breakpoint(small-tablet) {
    padding-top: 6.2rem;
    padding-bottom: 24rem;
  }
  @include breakpoint(mobile) {
    padding-top: 4rem;
    padding-bottom: 16rem;
  }

  &__inner {
    position: relative;
  }

  &__header {
    margin-bottom: 8.6rem;

    @include breakpoint(tablet) {
      margin-bottom: 6rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 4rem;
    }
  }

  &__title {
    flex-shrink: 0;
  }

  &__second-title {
    margin-bottom: 16.1rem;

    @include breakpoint(tablet) {
      margin-bottom: 8rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 6rem;
    }
  }

  &__subtitle {
    flex-basis: 50%;

    font-size: 4.1rem;
    font-weight: 600;
    line-height: 1.2;
    @include titleFF;

    @include breakpoint(tablet) {
      font-size: 2.8rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 2rem;
    }
    @include breakpoint(mobile) {
      font-size: 1.6rem;
    }
  }

  &__content {
    position: relative;
  }

  &__two-columns {
    display: grid;
    grid-template-columns: 58.1rem 67.9rem;
    column-gap: 12rem;

    @include breakpoint(tablet) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4rem;
    }
    @include breakpoint(small-tablet) {
      grid-template-columns: 1fr;
      row-gap: 3rem;
    }
    @include breakpoint(mobile) {
      grid-template-columns: 1fr;
      row-gap: 2.5rem;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
  }

  &__paragraphs {
    position: relative;

    max-width: 60rem;

    font-size: 2.3rem;
    font-weight: 400;
    line-height: 1.1;
    color: var(--text-color);

    z-index: 2;

    @include breakpoint(tablet) {
      font-size: 1.7rem;
    }
    @include breakpoint(mobile) {
      font-size: 1.4rem;
    }
  }

  &__paragraph {
    @include flexRowGap(3rem);

    @include breakpoint(tablet) {
      margin-bottom: 2rem;
    }
  }

  &__megaphone {
    flex: 1 1 100%;
    position: relative;

    width: 100%;
    min-height: 40rem;

    pointer-events: none;

    @include breakpoint(mobile) {
      min-height: 30rem;
    }
    @include breakpoint(supersmall-mobile) {
      min-height: 25rem;
    }
  }

  &__megaphone-image {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    right: -8rem;

    width: 44.6rem;
    height: 44.1rem;
    object-fit: contain;

    @include breakpoint(tablet) {
      right: 0;
    }
  }

  &__marquee {
    position: absolute;
    top: 50%;

    width: 117rem;

    transform: rotate(16.56deg) translateY(-50%);

    &:nth-child(2) {
      transform: rotate(-17.28deg) translateY(-50%);
    }

    @include breakpoint(mobile) {
      left: -100%;
    }
  }

  &__footer {
    margin-top: 6.9rem;

    @include breakpoint(mobile) {
      margin-top: 4rem;
    }
    @include breakpoint(supersmall-mobile) {
      margin-top: 3rem;
    }
  }

  &__footer-title {
    font-size: 4.1rem;
    font-weight: 600;
    line-height: 1.2;
    @include titleFF;

    @include breakpoint(tablet) {
      font-size: 2.8rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 2rem;
    }
    @include breakpoint(mobile) {
      font-size: 1.6rem;
    }
  }

  &__footer-subtitle {
    align-self: flex-start;

    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.2;

    @include breakpoint(tablet) {
      font-size: 1.7rem;
    }
    @include breakpoint(mobile) {
      font-size: 1.4rem;
    }
  }

  &__bg-iamge {
    position: absolute;
    bottom: 0;
    left: 0;

    object-fit: contain;
    width: 100%;

    pointer-events: none;
  }
}