.form {

  &__inputs {
    border: none;
  }

  &__input {
    padding: 3rem 1.8rem;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 0.2rem solid #A0B2E0;

    font-size: var(--fs-tx3);
    line-height: 1.2;
    color: var(--text-color);

    transition: border-bottom-color 0.3s, background-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.7);
    }

    &:focus {
      border-bottom-color: var(--accent-color);
      background-color: rgba(255, 255, 255, 0.7);
    }

    @include breakpoint(tablet) {
      padding: 2rem 1.6rem;
    }
    @include breakpoint(small-tablet) {
      padding: 1.5rem 1.2rem;
    }
    @include breakpoint(mobile) {
      padding: 1rem 1rem;
    }

    &::placeholder {
      color: inherit;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
    }
  }

  &__submit-btn {
    display: block;

    width: 100%;
    padding: 2.4rem 0;

    border: 0.4rem solid #FFFFFF;

    transition: border-color 0.3s, transform 0.3s ease;

    &:hover,
    &:focus {
      border-color: var(--accent-color);
      transform: scaleX(1.01);
    }

    @include breakpoint(tablet) {
      padding: 2rem 0;
      border-width: 0.3rem;
    }
    @include breakpoint(small-tablet) {
      padding: 1.5rem 0;
      border-width: 0.2rem;
    }
    @include breakpoint(mobile) {
      padding: 1rem 0;
    }

    &_disabled {
      opacity: 0.6;
      cursor: default;

      &:hover,
      &:focus {
        border-color: #FFFFFF;
        transform: scaleX(1);
      }
    }
  }

  &__btn-label {
    display: block;
    text-align: center;

    font-size: var(--fs-label);
    line-height: 1.2;
    font-weight: 500;

    color: white;
  }
}

// Модуль с валидацией
.form .parsley-errors-list {
  margin-top: 0.6rem;

  padding: 0 1.8rem;

  color: var(--accent-color);
  font-size: var(--fs-label);
  line-height: 1.1;
  font-weight: 500;

  @include breakpoint(tablet) {
    padding: 0 1.6rem;
  }
  @include breakpoint(small-tablet) {
    padding: 0 1.2rem;
  }
  @include breakpoint(mobile) {
    margin-top: 0.4rem;
    padding: 0 1rem;
  }
}