// Адаптивная флекс сетка с выравниванием по правому краю
.gridCards {
  position: relative;
  z-index: 10;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  padding-left: 20%;
  margin: -2rem -1rem;

  @include breakpoint(tablet) {
    padding-left: 0;
  }
  @include breakpoint(mobile) {
    margin: -1rem -0.5rem;
  }

  &__item {
    flex: 0 0 auto;

    width: calc(25% - 2rem);
    
    margin: 2rem 1rem;
    
    @include breakpoint(small-tablet) {
      width: calc(33.333% - 2rem);
    }
    @include breakpoint(mobile) {
      margin: 1rem 0.5rem;
      width: calc(50% - 1rem);
    }
  }
}