.header {
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 7rem;
  padding-bottom: 4rem;

  color: white;

  @include breakpoint(tablet) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  @include breakpoint(mobile) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__logo {
    @include defaultHoverEffect(0.6);

    &_name {
      &_dvizh {
        flex: 0 0 17.4rem;

        height: 6.6rem;

        @include breakpoint(tablet) {
          flex-basis: 14rem;
          height: auto;
        }
        @include breakpoint(mobile) {
          flex-basis: 10rem;
          height: auto;
        }
      }

      &_devision {
        flex: 0 0 20.5rem;

        height: 5.5rem;

        @include breakpoint(tablet) {
          flex-basis: 16rem;
          height: auto;
        }
        @include breakpoint(mobile) {
          flex-basis: 12rem;
          height: auto;
        }
      }
    }
  }

  &__menu {
    margin: 0 7.6rem;
    width: 100%;

    transition: opacity 0.3s 0.5s, visibility 0.3s 0.5s ease;

    @media screen and (max-width: 900px) {
      display: none;
      opacity: 0;
      visibility: hidden;
    }
  }

  &__menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__menu-item {
    flex-shrink: 0;

    margin-right: 4rem;
    &:last-of-type {
      margin-right: 0;
    }

    @include breakpoint(tablet) {
      margin-right: 2rem;
    }
  }

  &__menu-link {
    position: relative;

    display: block;

    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 400;

    transition: opacity 0.3s ease;

    &::after {
      content: '';

      position: absolute;
      bottom: -0.4rem;
      left: 0;

      width: 0%;
      height: 0.2rem;

      transition: width 0.3s ease;
      background: linear-gradient(90deg, rgba(#E31C24, 0) 0%, #E31C24 100%);
    }

    &:hover,
    &:focus {
      opacity: 0.8;

      &::after {
        width: 100%;
      }
    }

    @include breakpoint(tablet) {
      font-size: 1.2rem;
    }
  }

  &__burger {
    align-self: flex-start;

    display: none;

    width: 2.5rem;
    height: 2.5rem;

    cursor: pointer;

    @include defaultHoverEffect(0.6);

    @media screen and (max-width: 900px) {
      display: block;
    }
  }

  &__burger-icon {
    fill: white;
    stroke: none;

    width: 2.5rem;
    height: 2.5rem;
  }

  &__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate(200%, -200%);

    width: 200%;
    height: 200%;
    border-radius: 50%;

    background-color: rgba(#0F347C, 0.95);

    transition: transform 0.1s ease;
  }
}

.page-header.mobile {
  .header {
    flex-direction: column;

    padding-top: 4rem;

    &__logo {
      position: relative;
      z-index: 2;
      width: 10rem;
      &_name {
        &_dvizh {
          flex-basis: auto;
          order: 2;
          margin-bottom: 2rem;
        }
        &_devision {
          flex-basis: auto;
          order: 3;
        }
      }
    }

    &__menu {
      position: relative;
      z-index: 2;

      display: block;
      order: 1;
      opacity: 1;
      visibility: visible;

      margin-bottom: 4rem;
    }

    &__menu-list {
      flex-direction: column;
    }

    &__menu-item {
      margin-right: 0;

      @include flexRowGap(2rem);
    }

    &__burger {
      position: absolute;
      top: 7rem;
      right: 0;
      z-index: 2;

      @include breakpoint(tablet) {
        top: 3rem;
      }
      @include breakpoint(mobile) {
        top: 2rem;
      }
    }

    &__overlay {
      transform: translate(-50%, -50%);
    }
  }
}