.intro {
  position: relative;

  height: 100vh;

  color: white;

  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: radial-gradient(143.45% 255.01% at 11.01% 57.38%, #0f347c 0%, rgba(15, 52, 124, 0) 100%);
    transform: rotate(-180deg);
  }

  &__inner {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    padding-top: 28rem;
    padding-bottom: 8.8rem;

    @include breakpoint(tablet) {
      padding-top: 12rem;
      padding-bottom: 4rem;
    }
    @include breakpoint(mobile) {
      padding-top: 8rem;
      padding-bottom: 2rem;
    }
  }

  &__content {
    position: relative;
    z-index: 2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8rem;

    margin-bottom: 10rem;
    margin-right: 6rem;

    @include breakpoint(tablet) {
      margin-bottom: 4rem;
      margin-right: 0;
      column-gap: 2rem;
    }
    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
      row-gap: 4rem;
    }
    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }
  }

  &__title-container {
    // animations
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.8s, opacity 0.8s ease;
    // /animations

    justify-self: flex-end;

    position: relative;

    @media screen and (max-width: 900px) {
      max-width: 48.5rem;
    }

    &.animated {
      transform: translateY(0);
      opacity: 1;
    }
  }

  &__subtitle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(mobile) {
      flex-direction: column;
      justify-content: flex-start;
      width: fit-content;
      margin-left: auto;
      align-items: flex-start;
    }
  }

  &__title-image {
    animation-name: horizontal-skew;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    max-width: unset;
    width: 100%;
    height: auto;

    mix-blend-mode: screen;

    @media screen and (max-width: 900px) {

      position: relative;
      top: 17rem;

      max-width: 60rem;
    }
    @media screen and (max-width: 520px) {
      top: 0;
    }
  }

  &__title {
    position: relative;
    z-index: 2;

    width: min-content;
    margin-bottom: 4rem;

    font-size: var(--fs-h1);
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    @include titleFF;

    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }
  }

  &__place-and-time {
    font-size: var(--fs-t2);
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    @include titleFF;

    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }
  }

  &__place {
    display: block;

    margin-bottom: 0.5rem;
  }

  &__time {
    display: block;
  }

  &__btn {
    position: relative;
    overflow: hidden;

    flex-shrink: 0;

    align-self: flex-start;

    padding: 1.5rem 7.5rem;

    background: linear-gradient(90deg, rgba(227, 28, 36, 0) -27.1%, rgba(227, 28, 36, 0.415053) 46.93%, #e31c24 100%);
    border-radius: 0.2rem;

    font-size: var(--fs-tx1);
    line-height: 1.2;
    font-weight: 400;

    &::before {
      content: '';

      position: absolute;
      top: 0;
      left: -100%;
      z-index: -1;

      width: 100%;
      height: 100%;

      background: rgba(#e31c24, 0.7);

      transition: left 0.3s ease;
    }

    &:hover,
    &:focus {
      &::before {
        left: 0%;
      }
    }

    @include breakpoint(tablet) {
      align-self: flex-end;

      padding: 1.2rem 5.5rem;
    }
    @include breakpoint(mobile) {
      padding: 1.2rem 5rem;
    }
  }

  &__slogan {
    position: relative;
    z-index: 10;
    display: flex;
  }

  &__slogan-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-width: 40rem;

    margin-right: 4.1rem;

    @include breakpoint(tablet) {
      min-width: 30rem;

      margin-right: 3.1rem;
    }
  
    @include breakpoint(small-tablet) {
      min-width: 20rem;

      margin-right: 2.1rem;
    }
  
    @include breakpoint(mobile) {
      min-width: 10rem;

      margin-right: 1.6rem;
    }
  }

  &__slogan-text {
    flex: 0 0 auto;

    font-size: var(--fs-h3);
    line-height: 1.2;
    font-weight: 600;
    @include titleFF;
    color: white;
  }

  &__slogan-separator {
    position: relative;
    top: 0.3rem;

    display: block;

    margin: 0 0.8rem;
    min-width: 6rem;
    width: 100%;
    height: 0.3rem;

    background-color: white;

    @include breakpoint(mobile) {
      top: 0.1rem;

      min-width: 2rem;
      height: 0.1rem;
      margin: 0 0.4rem;
    }
  }

  &__footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    // justify-content: space-between; // Поставить, если вернутся иконки партнеров
    align-items: flex-start;

    @media screen and (max-width: 900px) {
      justify-content: center;
    }
  }

  &__partner {
    display: flex;
    align-items: center;

    @include defaultHoverEffect(0.7);

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__partner-image {
    height: 4.6rem;
    width: auto;

    object-fit: contain;

    @include breakpoint(tablet) {
      height: 4rem;
    }
    @include breakpoint(mobile) {
      height: 3rem;
    }
  }

  &__partner-label {
    display: block;

    margin-right: 3rem;

    font-size: var(--fs-tx3);
    line-height: 1.2;
    letter-spacing: 2%;
  }

  &__next-slide-btn {
    transition: transform 0.3s ease;

    &:hover,
    &:focus {
      transform: translateY(1rem);
    }
  }

  &__next-slide-btn-icon {
    width: 5.8rem;
    height: 5.8rem;

    @include breakpoint(small-tablet) {
      width: 4rem;
      height: 4rem;
    }
    @include breakpoint(mobile) {
      width: 3rem;
      height: 3rem;
    }
  }

  &__organizers {
    display: flex;

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__organizer {
    margin-right: 8.5rem;
    &:last-of-type {
      margin-right: 0;
    }

    @include breakpoint(tablet) {
      margin-right: 4rem;
    }
  }

  &__organizer-label {
    display: block;

    margin-bottom: 1.4rem;

    font-size: var(--fs-label);
    line-height: 1.2;
    letter-spacing: 2%;
    opacity: 0.5;

    @include breakpoint(tablet) {
      margin-bottom: 0.8rem;
    }
  }

  &__organizer-image {
    &_name {
      &_sber {
        height: 3.3rem;
      }
      &_profitbase {
        height: 2.5rem;
      }
    }
  }
}
