.intro {
  position: relative;

  height: 100vh;

  color: white;

  &__bg-image {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background: radial-gradient(143.45% 255.01% at 11.01% 57.38%, #0f347c 0%, rgba(15, 52, 124, 0) 100%);
    transform: rotate(-180deg);
  }

  &__inner {
    position: relative;

    height: 100%;
  }

  &__content {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    height: 100%;
    padding-top: 25rem;
    padding-bottom: 10rem;
  }

  &__date {
    display: flex;
    flex-direction: column;

    margin-bottom: 3rem;

    font-size: 4.6rem;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    @include titleFF;
  }

  &__title-container {
    display: flex;

    margin-bottom: 10rem;
    margin-right: 8rem;
  }

  &__title {
    position: relative;
    z-index: 2;

    margin-right: 10rem;
    padding-left: 27.5rem;

    font-size: 7.2rem;
    line-height: 1.1;
    font-weight: 600;
    text-transform: uppercase;
    @include titleFF;

    &::before {
      content: '';

      position: absolute;
      left: -9rem;
      top: -25rem;
      z-index: -1;

      position: absolute;

      width: 46.1rem;
      height: 50.6rem;

      background-image: url('../img/3d.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left top;
    }
  }

  &__btn {
    flex-shrink: 0;

    align-self: flex-end;

    padding: 2.5rem 10rem;

    background: linear-gradient(86.67deg, rgba(227, 28, 36, 0) -27.1%, rgba(227, 28, 36, 0.415053) 46.93%, #e31c24 112.61%);
    border-radius: 2px;

    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 500;
    @include titleFF;

    text-transform: uppercase;

    @include defaultHoverEffect(0.6);
  }

  &__slogan-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__slogan-text {
    flex: 0 0 auto;

    font-size: 3.6rem;
    line-height: 1.2;
    font-weight: 600;
    @include titleFF;
  }

  &__slogan-separator {
    position: relative;
    top: 3px;

    display: block;

    margin: 0 8px;
    min-width: 6rem;
    width: 100%;
    height: 3px;

    background-color: white;
  }
}
