.map {
  padding-top: 9.6rem;
  padding-bottom: 4.0rem;
  background: linear-gradient(180.44deg, #A0B2E0 0%, #E1E0E7 59.28%);

  @include breakpoint(tablet) {
    padding-top: 6rem;
    padding-bottom: 3.0rem;
  }

  @include breakpoint(small-tablet) {
    padding-top: 4rem;
  }

  @include breakpoint(mobile) {
    padding-top: 3rem;
  }
}

.map__header-link {
  display: block;
  @include defaultHoverEffect(0.6);
}

.map__logo {
  width: 20.4rem;
  height: auto;

  @include breakpoint(tablet) {
    width: 10.4rem;
  }

  @include breakpoint(small-tablet) {
    width: 8.4rem;
  }

  @include breakpoint(mobile) {
    width: 6.4rem;
  }
}

.map__main-content {
  position: relative;
}

.map__container {
  position: relative;
  z-index: 4;

  display: flex;
  justify-content: flex-end;
}

.map__image {
  width: 100%;
  object-fit: contain;
}

.map__map-wrapper {
  @include imageWrapper(16, 9);
}

.map__map-title-container {
  position: absolute;
  left: 0;
  top: -10rem;
  width: 100%;

  font-weight: 600;
  font-size: 8.2rem;
  line-height: 1.2;
  color: var(--text-color);

  @include breakpoint(laptop) {
    font-size: 5.2rem;
  }

  @include breakpoint(tablet) {
    font-size: 4.2rem;
    top: 0;
  }

  @include breakpoint(small-tablet) {
    font-size: 3.2rem;
  }

  @include breakpoint(small-mobile) {
    font-size: 2.2rem;
    top: 100%;
  }

  @include breakpoint(xx-mobile) {
    font-size: 1.6rem;
  }
}

.map__map-title-part-wrapper {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.map__map-title-dash {
  position: relative;
  top: 0.2rem;
  
  width: 100%;
  height: .4rem;
  background-color: var(--accent-color);
  flex: 1 1 100%;
  margin: 0 1rem;

  @include breakpoint(small-tablet) {
    height: .3rem;
  }

  @include breakpoint(small-mobile) {
    height: .2rem;
  }
}

.map__slider {
  @include breakpoint(tablet) {
    margin: 0 1rem;
  }
}

.map__sponsors-list {
  margin-top: 3rem;

  @include breakpoint(small-tablet) {
    margin-top: 8rem;
  }
}

.map__sponsor-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map__sponsor-link {
  @include defaultHoverEffect(0.6);
}

.map__sponsor-image {
  max-height: 8.8rem;
  width: 100%;
  object-fit: contain;

  @include breakpoint(small-tablet) {
    max-height: 6.8rem;
  }
  @include breakpoint(small-tablet) {
    max-height: 5.8rem;
  }
  @include breakpoint(small-mobile) {
    max-height: 4.2rem;
  }
}
