.map {
  padding-top: 9.6rem;
  padding-bottom: 4.0rem;
  background: linear-gradient(180deg, #A0B2E0 0%, #E1E0E7 60%);

  @include breakpoint(tablet) {
    padding-top: 6rem;
    padding-bottom: 3.0rem;
  }

  @include breakpoint(small-tablet) {
    padding-top: 4rem;
  }

  @include breakpoint(mobile) {
    padding-top: 3rem;
  }
}

.map__header-link {
  display: block;
  @include defaultHoverEffect(0.6);
}

.map__logo {
  width: 20.4rem;
  height: auto;

  @include breakpoint(tablet) {
    width: 10.4rem;
  }

  @include breakpoint(small-tablet) {
    width: 8.4rem;
  }

  @include breakpoint(mobile) {
    width: 6.4rem;
  }
}

.map__main-content {
  position: relative;
}

.map__container {
  position: relative;
  z-index: 4;

  display: flex;
  justify-content: flex-end;
}

.map__image {
  width: 100%;
  object-fit: contain;
}

.map__map-arrow {
  // animations
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: transform 0.8s, opacity 0.8s ease;
  // /animations

  right: unset !important;
  bottom: 0 !important;
  left: 0 !important;
  top: unset !important;
  width: 45% !important;
  height: auto !important;

  &.animated {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.map__map-wrapper {
  @include imageWrapper(16, 9);
}

.map__map-title-container {
  position: absolute;
  left: 0;
  top: -10rem;
  width: 100%;

  font-weight: 600;
  font-size: var(--fs-h2);
  line-height: 1.2;
  color: var(--text-color);

  @include breakpoint(tablet) {
    top: 0;
  }
  @include breakpoint(small-mobile) {
    top: 100%;
  }
}

.map__map-title-top {
  // animations
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.8s, opacity 0.8s ease;
  // /animations

  &.animated {
    transform: translateX(0);
    opacity: 1;
  }
}

.map__map-title-part-wrapper {
  display: flex;
  align-items: center;
  white-space: nowrap;

  @include breakpoint(mobile) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.map__map-title-part {
  // animations
  opacity: 0;

  &--1 {
    transition: opacity 0.8s 0.8s ease;
  }
  &--2 {
    transition: opacity 0.8s 2s ease;
  }

  &.animated {
    opacity: 1;
  }
  // /animations
}

.map__map-title-dash {
  position: relative;
  top: 0.2rem;

  width: 100%;
  height: .4rem;
  background-color: transparent;
  flex: 1 1 100%;
  margin: 0 1rem;

  overflow: hidden;

  &::after {
    // animations
    transition: left 0.4s 1.6s ease;
    // /animations

    content: '';

    position: absolute;
    top: 0;
    left: -100%;

    width: 100%;
    height: 100%;

    background-color: var(--accent-color);
  }

  @include breakpoint(small-tablet) {
    height: .3rem;
  }

  @include breakpoint(small-mobile) {
    height: .2rem;
  }

  &.animated {
    &::after {
      left: 0%;
    }
  }
}

.map__slider {
  @include breakpoint(tablet) {
    margin: 0 1rem;
  }
}

.map__sponsors-list {
  margin-top: 3rem;

  @include breakpoint(small-tablet) {
    margin-top: 8rem;
  }
}

.map__sponsor-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.map__sponsor-link {
  @include defaultHoverEffect(0.6);
}

.map__sponsor-image {
  max-height: 8.8rem;
  width: 100%;
  object-fit: contain;

  @include breakpoint(small-tablet) {
    max-height: 6.8rem;
  }
  @include breakpoint(small-tablet) {
    max-height: 5.8rem;
  }
  @include breakpoint(small-mobile) {
    max-height: 4.2rem;
  }
}
