.marquee {

  &__wrapper {
    display: flex !important;

    font-size: var(--fs-h3);
    line-height: 1.2;
    font-weight: 600;
    @include titleFF;
    text-transform: uppercase;
  }

  &__unit {
    display: flex;
    align-items: center;

    min-width: 30rem;
    margin-right: 6.8rem;

    @include breakpoint(tablet) {
      margin-right: 4.8rem;
    }
    @include breakpoint(small-tablet) {
      margin-right: 3.4rem;
    }
    @include breakpoint(mobile) {
      margin-right: 2.2rem;
    }
  }

  &__unit-text {
    flex: 0 0 auto;

    &--default {
      color: white !important;
    }
    &--accent {
      color: var(--accent-color) !important;
    }
  }

  &__unit-slash {
    display: block;

    margin: 0 0.8rem;
    min-width: 6rem;
    width: 100%;
    height: 0.3rem;

    background-color: white;

    @include breakpoint(mobile) {
      top: 0.1rem;

      min-width: 2rem;
      height: 0.1rem;
      margin: 0 0.4rem;
    }
  }
}

.marquee3k__copy {
  display: flex !important;
}

.marquee3k__wrapper {
  display: flex !important;
}