.organizers {
  background: linear-gradient(180.66deg, #A0B2E0 0%, #FFFFFF 100%);
  overflow: hidden;
  padding-top: 7rem;
  padding-bottom: 10.2rem;

  @include breakpoint(tablet) {
    padding-top: 4rem;
    padding-bottom: 7rem;
  }

  @include breakpoint(small-mobile) {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
}

.organizers__title {
  max-width: 100rem;
}

.organizers__content {
  padding-bottom: 28rem;
  position: relative;
  margin-top: 10rem;

  @include breakpoint(laptop) {
    padding-bottom: 18rem;
    margin-top: 8rem;
  }

  @include breakpoint(tablet) {
    padding-bottom: 15rem;
    margin-top: 6rem;
  }

  @include breakpoint(small-tablet) {
    padding-bottom: 0;
    margin-top: 4rem;
  }

  @include breakpoint(small-mobile) {
    margin-top: 3rem;
  }
}

.organizers__bg-image {
  position: absolute;
  content: '';
  width: 88rem;
  height: auto;
  bottom: -24.6rem;
  left: -10.4rem;

  pointer-events: none;

  @include breakpoint(laptop) {
    width: 68rem;
    bottom: -19.1rem;
    left: -8rem;
  }

  @include breakpoint(tablet) {
    width: 58rem;
    bottom: -16.3rem;
    left: -6.8rem;
  }

  @include breakpoint(small-tablet) {
    width: 50rem;
    height: 50rem;
    left: -5.9rem;
  }
}

.organizers__item {
  cursor: pointer;
}

.organizers__item:hover,
.organizers__item:focus {
  .organizers__item-overlay {
    opacity: 1;
    visibility: visible;
  }

  .organizers__item-image-wrapper::before {
    opacity: 0;
  }
}

.organizers__item-image-wrapper {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    border: 3.7rem solid transparent;

    transition: opacity 0.3s ease;
  }

  &--type-1 {
    &:before {
      border-right: 3.7rem solid #EC8B24;
      border-bottom: 3.7rem solid #EC8B24;
    }

    .organizers__item-overlay {
      background: linear-gradient(178.62deg, rgba(235, 137, 42, 0) 0%, rgba(232, 135, 40, 0.338958) 44.85%, #E38224 100%);
    }
  }

  &--type-2 {
    &:before {
      border-right: 3.7rem solid #009F93;
      border-bottom: 3.7rem solid #009F93;
    }

    .organizers__item-overlay {
      background: linear-gradient(181.59deg, rgba(0, 159, 147, 0) 0%, #009F93 100%);
    }
  }

  &--type-3 {
    &:before {
      border-right: 3.7rem solid #662D87;
      border-bottom: 3.7rem solid #662D87;
    }

    .organizers__item-overlay {
      background: linear-gradient(181.59deg, rgba(102, 45, 135, 0) 0%, #662D87 100%);
    }
  }
}

.organizers__item-image {
  width: 100%;
  object-fit: cover;

  pointer-events: none;
}

.organizers__item-title {
  font-size: 2.8rem;
  line-height: 1.2;
  color: #0F347C;
  margin-top: 2rem;

  @include breakpoint(tablet) {
    font-size: 2rem;
    margin-top: 0.8rem;
  }

  @include breakpoint(small-tablet) {
    font-size: 1.8rem;
    margin-top: 0.7rem;
  }

  @include breakpoint(small-mobile) {
    font-size: 1.5rem;
  }
}

.organizers__item-overlay {
  opacity: 0;
  visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  padding: 2.6rem 2.6rem 1rem;

  color: white;

  transition: opacity 0.3s, visibility 0.3s ease;

  @include breakpoint(mobile) {
    padding: 1rem;
  }
}

.organizers__item-socials {
  display: flex;

  margin-bottom: 0.9rem;

  @include breakpoint(mobile) {
    margin-bottom: 0.6rem;
  }
}

.organizers__item-social {
  margin-right: 2rem;
  &:last-of-type {
    margin-right: 0;
  }

  @include breakpoint(mobile) {
    margin-right: 1rem;
  }
}

.organizers__item-social-link {
  &:hover,
  &:focus {
    .organizers__item-social-icon {
      fill: var(--accent-color);
    }
  }
}

.organizers__item-social-icon {
  width: 2rem;
  height: 2rem;

  fill: white;
  transition: fill 0.3s ease;
}

.organizers__item-post {
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 1.6rem;

  @include breakpoint(mobile) {
    margin-bottom: 0.6rem;
    font-size: 1.2rem;
  }
}

.organizers__item-about {
  font-size: 1.2rem;
  line-height: 1.2;

  @include breakpoint(mobile) {
    font-size: 0.8rem;
  }
}


.organizers__partners-container {
  margin-top: 12rem;

  @include breakpoint(laptop) {
    margin-top: 10rem;
  }

  @include breakpoint(tablet) {
    margin-top: 8rem;
  }

  @include breakpoint(small-mobile) {
    margin-top: 6rem;
  }
}

.organizers__partners-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 6rem;
  margin-top: 6rem;

  align-items: center;
  justify-items: center;

  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem 3rem;
  }

  @include breakpoint(xx-mobile) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.organizers__partners-link {
  @include defaultHoverEffect(0.6);

  img {
    height: 100%;
    max-height: 4.6rem;

    @include breakpoint(tablet) {
      max-height: 3.6rem;
    }
  
    @include breakpoint(mobile) {
      max-height: 2.6rem;
    }
  }
}