.program {
  padding-top: 11.4rem;
  padding-bottom: 12rem;

  background: linear-gradient(180.01deg, #A0B2E0 0%, #E1E0E7 100%);

  --fs-date-day: 18.8rem;
  --fs-date-month: 3.6rem;
  --fs-time: 2.4rem;

  @include breakpoint(tablet) {
    padding-top: 6rem;
    padding-bottom: 6rem;

    --fs-date-day: 6rem;
    --fs-date-month: 1.6rem;
    --fs-time: 1.6rem;
  }
  @include breakpoint(small-tablet) {
    padding-top: 4rem;
    padding-bottom: 4rem;

    --fs-date-day: 10rem;
    --fs-date-month: 2rem;
    --fs-time: 1.6rem;
  }
  @include breakpoint(mobile) {
    --fs-date-day: 6rem;
    --fs-date-month: 1.6rem;
    --fs-time: 2rem;
  }

  &__title {
    max-width: 86.8rem;
    margin-bottom: 10rem;

    @include breakpoint(tablet) {
      margin-bottom: 6rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 3rem;
    }
    @include breakpoint(mobile) {
      margin-bottom: 1.5rem;
    }
  }

  &__item {
    @include flexRowGap(12.8rem);

    @include breakpoint(tablet) {
      margin-bottom: 8rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 4rem;
    }
    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }
  }
}

.program-card {
  display: flex;

  @include breakpoint(small-tablet) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__date-block {
    flex: 0 0 26.6rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint(tablet) {
      flex-basis: auto;
      align-items: center;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 3rem;
    }
  }

  &__date-day {
    display: block;

    font-size: var(--fs-date-day);
    font-weight: 600;
    line-height: 1.1;

    @include titleFF;
  }

  &__date-month {
    display: block;

    font-size: var(--fs-date-month);
    font-weight: 700;
    line-height: 1.2;
  }

  &__description-block {
    position: relative;

    margin-right: 9.5rem;
    margin-left: 20.4rem;

    @include breakpoint(tablet) {
      margin-right: 3rem;
      margin-left: 10rem;
    }
    @include breakpoint(small-tablet) {
      margin-left: 8rem;
      margin-right: 0;
    }
    @include breakpoint(mobile) {
      margin-left: 6rem;
    }
  }

  &__bg-image {
    // animations
    transition: transform 0.8s, opacity 0.8s ease;
    transform: translate(50%, 50%);
    opacity: 0;
    // /animations
    position: absolute;
    top: -2.8rem;
    left: -3.3rem;

    max-width: unset;
    width: 83.5rem;
    height: 83.5rem;

    pointer-events: none;

    @include breakpoint(tablet) {
      top: -1.6rem;
      left: -1.6rem;

      width: 40.5rem;
      height: 40.5rem;
    }

    &.animated {
      transform: translate(0, 0);
      opacity: 1;
    }
  }

  &__description-list {
    position: relative;
    z-index: 4;

    @include breakpoint(small-tablet) {
      margin-bottom: 3rem;
    }
  }

  &__description-item {
    @include flexRowGap(6rem);

    @include breakpoint(tablet) {
      margin-bottom: 4rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 2rem;
    }
  }

  &__title-wrapper {
    position: relative;

    margin-bottom: 0.5rem;
  }

  &__time {
    position: absolute;
    left: -12rem;
    top: 0.5rem;

    display: inline-block;

    width: min-content;

    color: var(--text-color);
    font-size: var(--fs-time);
    line-height: 1.2;
    font-weight: 500;

    @include breakpoint(tablet) {
      left: -8rem;
    }
    @include breakpoint(mobile) {
      left: -6rem;
    }
  }

  &__title {
    display: block;

    font-size: var(--fs-h3);
    line-height: 1.2;
    font-weight: 700;
  }

  &__desc {
    font-size: var(--fs-tx1);
  }

  &__image-block {
    flex: 0 0 48rem;

    @include breakpoint(tablet) {
      flex-basis: 26rem;
    }
    @include breakpoint(small-tablet) {
      flex-basis: auto;
      width: 100%;
      max-width: 40rem;
    }
  }

  &__image-wrapper {
    @include imageWrapper(480, 324);
  }
}
