.sticky-header {
  position: absolute;
  bottom: 0;
  left: 0;
  
  z-index: 99;

  width: 100%;
  padding: 2.5rem 0;

  background-color: white;

  &_fixed {
    position: fixed;
    top: 0;
    left: 0;
    bottom: unset;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 1.2;
    @include titleFF;
  }

  &__time-container {
    flex-shrink: 0;

    margin-left: 10rem;
    margin-right: 12rem;
  }

  &__time {
    display: block;

    font-weight: 500;
    font-size: 3.6rem;
    line-height: 1.2;
  }

  &__time-labels {
  }

  &__time-label {
    display: inline-block;

    margin: 0 1.7rem;

    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.2;
  }

  &__btn {
    flex-shrink: 0;

    padding: 2rem 7rem;

    color: var(--accent-color) !important;

    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.1;
    @include titleFF;

    background-image: url(../img/btn-border.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    @include defaultHoverEffect(0.7);
  }
}
