.thematic-sections {

  padding-top: 9rem;
  padding-bottom: 16rem;

  background: linear-gradient(360deg, #A0B2E0 0.26%, #E1E0E7 100%);

  @include breakpoint(tablet) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  @include breakpoint(small-tablet) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &__title {
    margin-bottom: 9rem;
    max-width: 72.5rem;

    @include breakpoint(tablet) {
      margin-bottom: 6rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 4rem;
    }
  }

  &__slider {
    @include breakpoint(tablet) {
      margin: 0 2rem;
    }
  }

  &__item {
    position: relative;

    &:last-of-type {
      .thematic-section__description {
        left: unset;
        right: 0;
      }
    }
  }
}

.thematic-section {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;

  background: linear-gradient(350.76deg, #A0B2E0 -26.11%, rgba(225, 224, 231, 0) 167.92%);
  box-shadow: 0 0.4rem 1.5rem #92a2ca;

  @include breakpoint(small-tablet) {
    padding: 1.4rem;
  }

  &__image {
    margin-bottom: 3.3rem;

    @include breakpoint(tablet) {
      margin-bottom: 3rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 2.4rem;
    }
    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }
  }

  &__title {
    margin-bottom: 2rem;

    text-align: center;
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 600;
    @include titleFF;

    @include breakpoint(tablet) {
      margin-bottom: 1.8rem;

      font-size: 2.4rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 1.6rem;

      font-size: 2rem;
    }
    @include breakpoint(mobile) {
      margin-bottom: 1.4rem;

      font-size: 1.6rem;
    }
  }

  &__btn {
    border-radius: 999rem;
    padding: 1rem 3.3rem;

    background-color: white;

    transition: background-color 0.3s ease;

    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: 600;
    @include titleFF;

    &:hover,
    &:focus {
      background-color: rgba(white, 0.2);
    }

    @include breakpoint(tablet) {
      padding: 1rem 2.3rem;

      font-size: 1.2rem;
    }
    @include breakpoint(small-tablet) {
      padding: 0.8rem 2rem;

      font-size: 1rem;
    }
    @include breakpoint(mobile) {
      padding: 0.7rem 1.8rem;
    }
  }

  &__description {
    opacity: 0;
    visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: 4.4rem 3.2rem 4.4rem 5.6rem;
    width: calc(200% + 1.5rem);
    height: 100%;
    background-color: white;
    z-index: 2;

    transition: visibility 0.3s, opacity 0.3s ease;

    @include breakpoint(tablet) {
      padding: 3rem;
    }
    @include breakpoint(small-tablet) {
      padding: 2.4rem;
    }
    @include breakpoint(mobile) {
      padding: 2rem;
    }
    @include breakpoint(supersmall-mobile) {
      width: 100%;
    }

    &_opened {
      opacity: 1;
      visibility: visible;
    }
  }

  &__description-text {
    font-size: 1.8rem;
    line-height: 1.2;
    color: black;

    @include breakpoint(tablet) {
      font-size: 1.6rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 1.4rem;
    }
    @include breakpoint(mobile) {
      font-size: 1.2rem;
    }
  }

  &__description-title {
    text-align: center;
    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 600;
    @include titleFF;

    @include breakpoint(tablet) {
      font-size: 2.4rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 2rem;
    }
    @include breakpoint(mobile) {
      font-size: 1.6rem;
    }
  }
}