.thematic-sections {

  padding-top: 9rem;
  padding-bottom: 16rem;

  background: linear-gradient(360deg, #A0B2E0 0%, #E1E0E7 100%);

  @include breakpoint(tablet) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  @include breakpoint(small-tablet) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &__title {
    margin-bottom: 9rem;
    max-width: 72.5rem;

    @include breakpoint(tablet) {
      margin-bottom: 6rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 4rem;
    }
  }

  &__slider {
    // animations
      opacity: 0;
      transform: translateX(100%);
      transition: opacity 0.8s, transform 0.8s ease;
    // animations

    .swiper-slide-active {
      .thematic-section__description {
        left: 0;
        right: unset;
      }
      .thematic-section__description-overlay {
        transform: translate(-200%, 200%);
      }
    }

    @include breakpoint(tablet) {
      margin: 0 2rem;
    }

    &.animated {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__item {
    position: relative;
    z-index: 2;
  }
}

.thematic-section {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem;
  border-radius: 0.4rem;

  background: linear-gradient(360deg, #A0B2E0 0%, rgba(225, 224, 231, 0) 100%);
  box-shadow: 0 0.4rem 1.5rem #92a2ca;

  @include breakpoint(small-tablet) {
    padding: 1.4rem;
  }

  &__image {
    margin-bottom: 3.3rem;

    @include breakpoint(tablet) {
      margin-bottom: 3rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 2.4rem;
    }
    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }
  }

  &__title {
    margin-bottom: 2rem;

    text-align: center;
    font-size: var(--fs-h4);
    line-height: 1.2;
    font-weight: 600;
    @include titleFF;

    @include breakpoint(tablet) {
      margin-bottom: 1.8rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 1.6rem;
    }
    @include breakpoint(mobile) {
      margin-bottom: 1.4rem;
    }
  }

  &__btn {
    border-radius: 999rem;
    padding: 1rem 3.3rem;

    background-color: white;

    transition: background-color 0.3s ease;

    font-size: var(--fs-tx3);
    line-height: 1.2;
    font-weight: 600;
    @include titleFF;

    &:hover,
    &:focus {
      background-color: rgba(white, 0.2);
    }

    @include breakpoint(tablet) {
      padding: 1rem 2.3rem;
    }
    @include breakpoint(small-tablet) {
      padding: 0.8rem 2rem;
    }
    @include breakpoint(mobile) {
      padding: 0.7rem 1.8rem;
    }
  }

  &__description {
    opacity: 0;
    visibility: hidden;
    z-index: 10;

    position: absolute;
    top: 0;
    right: 0;

    padding: 4.4rem 3.2rem 4.4rem 5.6rem;
    width: calc(200% + 15px);
    height: 100%;
    border-radius: 0.4rem;

    overflow: hidden;

    transition: visibility 0.3s, opacity 0.3s ease;

    @include breakpoint(tablet) {
      padding: 4rem 4rem 3rem 3rem;
    }
    @include breakpoint(small-tablet) {
      padding: 2.4rem;
    }
    @include breakpoint(mobile) {
      padding: 2rem;
    }
    @include breakpoint(supersmall-mobile) {
      width: 100%;
    }

    &_opened {
      opacity: 1;
      visibility: visible;
    }
  }

  &__description-content {
    opacity: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;
    height: 100%;

    transition: opacity 0.3s 0.5s ease;

    &.visible {
      opacity: 1;
    }
  }

  &__description-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(200%, 200%);

    background-color: white;
    width: 200%;
    height: 0;
    padding-bottom: 200%;
    border-radius: 50%;

    transition: transform 0.5s ease;

    pointer-events: none;

    &.animated {
      transform: translate(-50%, -50%) !important;
    }
  }

  &__description-close {
    position: absolute;
    top: 1rem;
    right: 1rem;

    &:focus,
    &:hover {
      .thematic-section__description-close-icon {
        stroke: var(--accent-color);
      }
    }

    @include breakpoint(small-tablet) {
      top: 0.5rem;
      right: 0.5rem;
    }
    @include breakpoint(mobile) {
      top: 0.5rem;
      right: 0.5rem;
    }
  }

  &__description-close-icon {
    width: 2.1rem;
    height: 2.1rem;

    fill: none;
    stroke: var(--text-color);
    
    transition: stroke 0.3s ease;

    @include breakpoint(small-tablet) {
      width: 1.5rem;
      height: 1.5rem;
    }
    @include breakpoint(mobile) {
      width: 1.2rem;
      height: 1.2rem;
    }
  }

  &__description-container {
    overflow-y: scroll;
    margin-bottom: 2rem;

    @include customScrollbar();
  }

  &__description-text {
    padding-right: 2rem;

    font-size: var(--fs-tx1);
    line-height: 1.2;
    color: black;

    @include flexRowGap(0.6rem);

    @include breakpoint(tablet) {
      padding-right: 1.5rem;
    }
    @include breakpoint(small-tablet) {
      padding-right: 1rem;
    }
  }

  &__description-title {
    text-align: center;
    font-size: var(--fs-h4);
    line-height: 1.2;
    font-weight: 600;
    @include titleFF;
  }
}