.ticket-reservation {

  padding-top: 9rem;
  padding-bottom: 25rem;
  background: linear-gradient(1.2deg, #A0B2E0 0%, #E1E0E7 100%);

  @include breakpoint(tablet) {
    padding-top: 8rem;
    padding-bottom: 16rem;
  }
  @include breakpoint(small-tablet) {
    padding-top: 4rem;
    padding-bottom: 12rem;
  }
  @include breakpoint(mobile) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &__coin {
    pointer-events: none;

    position: absolute;
    right: 6rem;
    top: 5rem;

    width: 84.2rem;
    height: 62.8rem;

    @include breakpoint(small-tablet) {
      width: 56rem;
      height: 41rem;

      right: 0rem;
    }
    @include breakpoint(mobile) {
      width: 37.3rem;
      height: 27rem;
    }
    @include breakpoint(small-mobile) {
      width: 28rem;
      height: 20rem;
    }
  }

  &__coin-arr-bottom {
    @include animation-to-bottom-left;

    position: absolute;
    left: 0;
    bottom: 0;

    width: 45%;
  }

  &__coin-arr-top {
    @include animation-to-top-right;

    position: absolute;
    right: 0;
    top: 0;

    width: 75%;
  }

  &__bg-image {
    @include animation-to-left;
    
    position: absolute;
    right: 6rem;
    top: 6rem;

    width: 45%;
    height: auto;
  }

  &__title {
    margin-bottom: 6.7rem;

    @include breakpoint(tablet) {
      margin-bottom: 4rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 3rem;
    }
    @include breakpoint(mobile) {
      margin-bottom: 2rem;
    }
  }

  &__form {
    position: relative;
    z-index: 2;

    max-width: 58rem;
  }

  &__form-inputs {
    margin-bottom: 2.2rem;

    @include breakpoint(tablet) {
      margin-bottom: 1.8rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 1.4rem;
    }
    @include breakpoint(mobile) {
      margin-bottom: 1rem;
    }
  }

  &__form-input {
    margin-top: 1.8rem;
    &:first-child {
      margin-top: 0;
    }

    @include breakpoint(tablet) {
      margin-top: 1.6rem;
    }
    @include breakpoint(small-tablet) {
      margin-top: 1.4rem;
    }
    @include breakpoint(mobile) {
      margin-top: 1rem;
    }
  }

  &__form-submit-btn {
    margin-bottom: 0.9rem;

    margin-right: 1.4rem;
    font-size: var(--fs-tx1);
    line-height: 1.2;
    font-weight: 600;
    @include titleFF;
    text-transform: uppercase;

    overflow: hidden;
  }

  &__btn-content {
    width: auto;
  }

  &__btn-text {
    display: inline-block;

    margin: 0 0.4rem;

    &:nth-child(odd) {
      color: white;
    }
    &:nth-child(even) {
      color: var(--accent-color);
    }
  }
}