.tickets {
  padding-top: 13.4rem;
  padding-bottom: 10.4rem;

  background: linear-gradient(360deg, #A0B2E0 0%, #E1E0E7 100%);

  @include breakpoint(tablet) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  @include breakpoint(small-tablet) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 5.2rem;

    @include breakpoint(small-tablet) {
      flex-direction: column;
    }
  }

  &__title {
    @include breakpoint(small-tablet) {
      margin-bottom: 2rem;
    }
  }

  &__header-text {
    flex: 0 1 50%;

    margin-left: 2rem;

    font-size: 2.8rem;
    line-height: 1.2;
    font-weight: 600;
    @include titleFF;
    color: var(--content-color);

    @include breakpoint(tablet) {
      margin-left: 0;

      font-size: 2.4rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 2rem;
    }
    @include breakpoint(mobile) {
      font-size: 1.6rem;
    }
  }

  &__slider {
    @include breakpoint(tablet) {
      margin: 0 3rem;
    }
  }

  &__item {
    border-radius: 0.4rem;
    overflow: hidden;
    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &:nth-child(2n + 1) {
      background-image: url(../img/icons/tickets/ticket-1.svg);
    }
    &:nth-child(2n + 2) {
      background-image: url(../img/icons/tickets/ticket-2.svg);
    }
    &:nth-child(2n + 3) {
      background-image: url(../img/icons/tickets/ticket-3.svg);
    }
    &:nth-child(2n + 4) {
      background-image: url(../img/icons/tickets/ticket-4.svg);
    }
  }
}

.ticket {

  padding: 3.4rem 3rem 3.4rem 5.2rem;

  background: linear-gradient(179.35deg, #A0B2E0 0%, rgba(225, 224, 231, 0.27) 100%);

  @include defaultHoverEffect(0.6);

  @include breakpoint(tablet) {
    padding: 3rem;
  }
  @include breakpoint(small-tablet) {
    padding: 2.4rem;
  }
  @include breakpoint(mobile) {
    padding: 2rem;
  }

  &__title {
    margin-bottom: 3.3rem;

    font-size: 3.9rem;
    line-height: 1.2;
    font-weight: 600;
    @include titleFF;

    @include breakpoint(tablet) {
      margin-bottom: 2.6rem;

      font-size: 3rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 2rem;

      font-size: 2.6rem;
    }
    @include breakpoint(mobile) {
      margin-bottom: 1.6rem;

      font-size: 2rem;
    }
  }

  &__list {
    max-width: 22.2rem;
    margin-bottom: 2rem;

    font-size: 1.6rem;
    line-height: 1.2;
    color: var(--content-color);

    @include breakpoint(tablet) {
      font-size: 1.4rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 1.2rem;
    }
    @include breakpoint(mobile) {
      font-size: 1rem;
    }
  }

  &__list-item {
    @include flexRowGap(2.8rem);

    @include breakpoint(tablet) {
      margin-bottom: 2rem;
    }
    @include breakpoint(small-tablet) {
      margin-bottom: 1.6rem;
    }
    @include breakpoint(mobile) {
      margin-bottom: 0.8rem;
    }
  }

  &__price-block {
    position: relative;

    padding-top: 2rem;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      width: 110%;
      height: 0.1rem;
      
      background-color: var(--text-color);
    }
  }

  &__price {
    display: block;

    margin-bottom: 0.6rem;

    font-size: 3.9rem;
    line-height: 1.2;
    font-weight: 600;
    @include titleFF;

    @include breakpoint(tablet) {
      font-size: 3rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 2.6rem;
    }
    @include breakpoint(mobile) {
      font-size: 2rem;
    }
  }

  &__price-label {
    display: block;

    font-size: 1.4rem;
    line-height: 1.2;
    color: white;

    @include breakpoint(tablet) {
      font-size: 1.2rem;
    }
    @include breakpoint(small-tablet) {
      font-size: 1rem;
    }
    @include breakpoint(mobile) {
      font-size: 0.8rem;
    }
  }
}