.video-modal {

  &__content {
    width: 80vw;
    height: 0;
    padding-bottom: 40vw;

    @include breakpoint(tablet) {
      width: calc(100% - var(--content-padding-left) - var(--content-padding-right));
    }
  }

  &__label {
    @include centeredAbsolute();

    font-size: var(--fs-label);
    line-height: 1.2;
    font-weight: 500;
  }

  &__iframe {
    position: absolute;
    top: 4rem;
    left: 4rem;

    width: calc(100% - 8rem);
    height: calc(100% - 8rem);

    border: none;

    border-radius: 0.4rem;

    @include breakpoint(tablet) {
      width: calc(100% - 6rem);
      height: calc(100% - 6rem);

      top: 3rem;
      left: 3rem;
    }
    @include breakpoint(mobile) {
      width: calc(100% - 4rem);
      height: calc(100% - 4rem);

      top: 2rem;
      left: 2rem;
    }
  }
}